// madraj base, which Bootstrap overrides.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions"; // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins"; // Bootstrap mixins.
@import "../variables"; // madraj variables.
@import "../mixins"; // madraj mixins.
// -----------------------------------------------------------------------------

/* Insert your madraj base overrides over Vartheme BS4 and Bootstrap */
.facts-section {
  padding: 125px 0 !important;
}

.about-madraj-section {
  .block-content--type-custom-block {
    display: flex;
    align-items: center;
  }

  .group-left {
    padding-right: 100px;
  }

  @include media-breakpoint-down(md) {
    .block-content--type-custom-block {
      flex-direction: column-reverse;

      .group-left {
        width: 100%;
        padding-right: 0;
      }

      .group-right {
        width: 60%;
        margin-bottom: 20px;
      }
    }
  }
}

.row-space {
  .views-row {
    margin-bottom: 20px;
  }
}

form {
  .js-form-item {
    label {
      display: none;
    }
  }

  .form-actions {
    text-align: center;

    .button--primary {
      @include button($background-color: #6dc1ed);
    }
  }

  &.webform-submission-contact-form {
    border-right: 1px solid $primary-color;
    @include padding-right(30px);

    @include media-breakpoint-down(md) {
      border-right: none;
      padding-right: 0;
      @include margin-bottom(30px);
    }
  }

  &.webform-submission-apply-form-form {
    display: flex;
    flex-wrap: wrap;

    .js-form-item {
      flex: 50%;

      &.js-form-type-textarea {
        flex: 100%;
      }

      &:nth-child(1),
      &:nth-child(3) {
        @include padding-right(8px);
      }

      &:nth-child(2),
      &:nth-child(4) {
        @include padding-left(8px);
      }
    }

    .form-actions {
      flex: 100%;

      .button--primary {
        @include padding-right(40px);
        @include padding-left(40px);
      }
    }

    @include media-breakpoint-down(md) {
      .js-form-item {
        flex: 100%;

        &:nth-child(1),
        &:nth-child(3) {
          @include padding-right(0);
        }

        &:nth-child(2),
        &:nth-child(4) {
          @include padding-left(0);
        }
      }
    }
  }
}

.contact-information {
  display: flex;
  flex-wrap: wrap;
  @include margin-top(30px);

  a {
    flex: 100%;
    display: flex;
    color: #333;
    @include margin-bottom(15px);

    &.contact-number {
      &::before {
        content: "";
        width: 25px;
        height: 25px;
        background-image: url("../../images/mobile-icon.png");
        background-size: contain;
        display: inline-block;
        @include margin-right(8px);
      }
    }

    &.contact-email {
      &::before {
        content: "";
        width: 25px;
        height: 25px;
        background-image: url("../../images/email-icon.png");
        background-size: contain;
        display: inline-block;
        @include margin-right(8px);
      }
    }
  }
}

.vision-mission-section {
  h2 {
    color: #5954b4;
  }

  .our-vision-block {
    background-color: $white;

    .content {
      &::before {
        content: "";
        width: 125px;
        height: 130px;
        background-image: url("../../images/Vision.png");
        background-size: 120px 120px;
        display: block;
        background-repeat: no-repeat;
        margin: auto;
      }
    }
  }

  .our-mission-block {
    background-color: $white;

    .content {
      &::before {
        content: "";
        width: 90px;
        height: 130px;
        background-image: url("../../images/Mission.png");
        background-size: 90px 120px;
        display: block;
        background-repeat: no-repeat;
        margin: auto;
      }
    }
  }
}

.alert-wrapper {
  display: none !important;
}