// Vartheme (RTL) base, which Bootstrap (RTL) overrides.
// -----------------------------------------------------------------------------
@import "../../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../../variables";                // madraj variables.
@import "../../mixins";                   // madraj mixins.
// -----------------------------------------------------------------------------

/* Insert your Bootstrap (RTL) overrides for bootstrap-rtl library. */

/* Justify content center. */
[dir="rtl"] .justify-content-center {
  &.nav-pills > li + li {
    margin-left: inherit;
  }
}

body {
  font-family: 'Droid Arabic Kufi', sans-serif;
}
