// madraj content (RTL) styling.
// -----------------------------------------------------------------------------
@import "../../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../../variables";                // madraj variables.
@import "../../mixins";                   // madraj mixins.
// -----------------------------------------------------------------------------


/* Insert your madraj content (RTL) custom SASS styling. */

.view-id-services,
.view-id-media_content {
  &.view-display-id-home_page_services,
  &.view-display-id-home_page_media {
    .more-link {
      position: absolute;
      top: -35px;
      right: unset;
      left: 0;

      a {
        color: #ff00aa;
      }
    }
  }
}
