// madraj footer (RTL) styling.
// -----------------------------------------------------------------------------
@import "../../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../../variables";                // madraj variables.
@import "../../mixins";                   // madraj mixins.
// -----------------------------------------------------------------------------

/* Insert your madraj footer (RTL) custom SASS styling. */

.footer-wrapper {
  .menu--social-media-menu {
    .fab {
      &::before {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
}
