@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.alert-sm {
  padding: 0.3125rem 0.625rem;
}

.alert a {
  font-weight: bold;
}

.alert-success a:hover,
.alert-success a:focus {
  color: #2b542c;
}

.alert-info a:hover,
.alert-info a:focus {
  color: #245269;
}

.alert-warning a:hover,
.alert-warning a:focus {
  color: #66512c;
}

.alert-danger a:hover,
.alert-danger a:focus {
  color: #843534;
}
