@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.book-navigation .menu {
  padding-top: 1rem;
  padding-bottom: 0;
  border-top: 1px solid #dee2e6;
}
.book-navigation .book-pager {
  overflow: auto;
  margin: 0;
  padding: 0.5em 0;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.book-pager__item {
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
}

.book-pager__item--previous {
  /* LTR */
  width: 45%;
  text-align: left;
}

[dir=rtl] .book-pager__item--previous {
  float: right;
  text-align: right;
}

.book-pager__item--center {
  width: 8%;
  text-align: center;
}

.book-pager__item--next {
  float: right;
  /* LTR */
  width: 45%;
  /* LTR */
  text-align: right;
}

[dir=rtl] .book-pager__item--next {
  float: left;
  text-align: left;
}
