@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.breadcrumb {
  font-size: 1.05rem;
}

.region-breadcrumb {
  width: 100%;
  padding: 0 0.9375rem 0.25rem;
}
