@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.field-node--comment {
  font-size: 1.05rem;
}

.comment {
  display: table;
  margin-bottom: 1.25em;
  vertical-align: top;
}

[dir=rtl] .comment {
  direction: rtl;
}

.comment__meta {
  padding: 0 30px 0 0;
  /* LTR */
  font-size: 1.2rem;
}

[dir=rtl] .comment__meta {
  padding: 0 0 0 calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  [dir=rtl] .comment__meta {
    padding: 0 0 0 1.875rem;
  }
}

.comment__attribution img {
  border: 1px solid #dee2e6;
}

/* This is required to win over specificity of .field--type-image img */
.comment .field--name-user-picture img {
  margin: 0;
}

.comment__author .username {
  white-space: nowrap;
}

.comment__author {
  margin: 0.25rem 0;
  line-height: 1.2;
}

.comment__time,
.comment__permalink {
  margin-bottom: 0.25rem;
  padding: 0 0.5em 0 0;
  color: #68696b;
  font-size: 1.05rem;
  line-height: 1.2;
  /* LTR */
}

[dir=rtl] .comment__time,
.comment__permalink {
  padding: 0 0 0 0.5em;
}

.comment__permalink {
  font-size: 1.05rem;
  line-height: 1.2rem;
}

.comment__content:before {
  position: absolute;
  /* LTR */
  top: 1.25em;
  right: 100%;
  content: "";
  border-top: 1.25em solid transparent;
  border-right: 1.25em solid #dee2e6;
  /* LTR */
  border-bottom: 1.25em solid transparent;
}

[dir=rtl] .comment__content:before {
  right: auto;
  left: 100%;
  border-right: none;
  border-left: 1.25em solid #dee2e6;
}

.comment__content:after {
  position: absolute;
  /* LTR */
  top: 1.25em;
  right: 100%;
  margin-right: -0.0625em;
  content: "";
  border-top: 1.25em solid transparent;
  border-right: 1.25em solid #fff;
  /* LTR */
  border-bottom: 1.25em solid transparent;
  /* LTR */
}

[dir=rtl] .comment__content:after {
  right: auto;
  left: 100%;
  margin-right: 0;
  margin-left: -0.0625rem;
  border-right: none;
  border-left: 1.25em solid #fff;
}

.comment__content h3 {
  margin-top: 0.94em;
  margin-bottom: 0.45em;
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .comment__content h3 {
    font-size: 1.5rem;
  }
}

.comment__content nav {
  padding-top: 0.0625rem;
}

.indented {
  margin-left: calc(1.375rem + 1.5vw);
  /* LTR */
}
@media (min-width: 1200px) {
  .indented {
    margin-left: 2.5rem;
  }
}

[dir=rtl] .indented {
  margin-right: calc(1.375rem + 1.5vw);
  margin-left: 0;
}
@media (min-width: 1200px) {
  [dir=rtl] .indented {
    margin-right: 2.5rem;
  }
}

.comment .links {
  padding: 0 0 0.25em 0;
}

.comment .links-inline span {
  padding: 0 0.5em 0 0;
  /* LTR */
  font-size: 1.2rem;
}

[dir=rtl] .comment .links-inline span {
  padding: 0 0 0 0.5em;
}

.comment--unpublished {
  margin-right: 0.3125rem;
  /* LTR */
  padding: 0.3125rem 0.125 0.3125rem 0.3125rem;
  /* LTR */
  background: #7ecfff;
}

[dir=rtl] .comment--unpublished {
  margin-right: 0;
  margin-left: 0.3125rem;
  padding: 0.3125rem 0.3125rem 0.3125rem 0.125;
}

.unpublished .comment-text .comment-arrow {
  border-right: 1px solid #7ecfff;
  border-left: 1px solid #7ecfff;
}

.unpublished {
  padding: 1.25em 1.25em 0;
}

.comment-footer {
  display: table-row;
}

.comment--unpublished .comment__text:after,
.node--unpublished .comment__text:after {
  border-right-color: #7ecfff;
  /* LTR */
}

[dir=rtl] .comment--unpublished .comment__content:after,
[dir=rtl] .node--unpublished .comment__content:after {
  border-left-color: #7ecfff;
}
