@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
details {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
}

details > .details-wrapper {
  padding: 0.5em 1.5em;
}

summary {
  padding: 0.2em 0.5em;
  cursor: pointer;
}
