@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.js .dropbutton-wrapper .dropbutton-widget {
  /* This is required to win over specifity of .js td .dropbutton-widget */
  position: relative;
}

.js .dropbutton-widget {
  overflow: hidden;
  margin: 0.125em 0;
  cursor: pointer;
  text-align: center;
  color: #3a3a3a;
  border: 1px solid;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d2d2d2;
  border-radius: 1em;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #f3f3f3, #e8e8e8);
}

.js .dropbutton-widget:hover {
  border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d2d2d2;
}

.js .dropbutton-widget .button {
  margin: 0;
  padding: 0.32em 1em;
  border: none;
  background: transparent none;
}

.js .dropbutton-multiple .dropbutton-widget .dropbutton-action a {
  margin-right: 0;
  /* LTR */
}

[dir=rtl].js .dropbutton-multiple .dropbutton-widget .dropbutton-action a {
  margin-left: 0;
}

.js .dropbutton .secondary-action {
  border-top-color: #ccc;
}

.js .dropbutton-toggle button {
  background-color: #e8e8e8;
  background-image: linear-gradient(to bottom, #e8e8e8, #d2d2d2);
}

.js .dropbutton-toggle .dropbutton-arrow:hover {
  background: #ccc;
}

.js .dropbutton a {
  color: #3a3a3a;
  border-bottom: 0 none;
}

.js .dropbutton .dropbutton-action:hover,
.js .dropbutton a:hover {
  border-bottom: 0 none;
  background: #dedede;
}

.js .dropbutton-widget {
  border: 1px solid #ccc;
  background-color: white;
}

.js .dropbutton-widget:hover {
  border-color: #b8b8b8;
}

.dropbutton .dropbutton-action > * {
  padding: 0.1em 0.5em;
  white-space: nowrap;
}

.dropbutton .secondary-action {
  border-top: 1px solid #e8e8e8;
}

.dropbutton-multiple .dropbutton {
  border-right: 1px solid #e8e8e8;
  /* LTR */
}

[dir=rtl] .dropbutton-multiple .dropbutton {
  border-right: 0 none;
  border-left: 1px solid #e8e8e8;
}

.dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-right: 0.25em;
  /* LTR */
}

[dir=rtl] .dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-right: 0;
  margin-left: 0.25em;
}

.js td .dropbutton-multiple {
  max-width: 100%;
  margin-right: 2em;
  padding-right: 10em;
}

.js td .dropbutton-wrapper {
  min-height: 2em;
}

.js .dropbutton-wrapper,
.js .dropbutton-widget {
  position: relative;
  display: block;
}

.js td .dropbutton-widget {
  position: absolute;
}
