@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.field--type-entity-reference .field__label {
  margin: 0;
  padding-right: 0.3rem;
  font-weight: normal;
  /* LTR */
}

[dir=rtl] .field--type-entity-reference .field__label {
  padding-right: 0;
  padding-left: 0.3rem;
}

.field--type-entity-reference ul.links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.field--type-entity-reference ul.links li {
  float: left;
  /* LTR */
  padding: 0 1rem 0 0;
  /* LTR */
  white-space: nowrap;
}

[dir=rtl] .field--type-entity-reference ul.links li {
  float: right;
  padding: 0 0 0 1rem;
}

@media all and (min-width: 560px) {
  .node .field--type-image + .field--type-image {
    clear: both;
  }
}
.field--type-image a {
  border-bottom: none;
}

.field--name-field-tags {
  margin: 0 0 1.2rem;
}

.field--name-field-tags .field__label {
  margin: 0;
  padding-right: 0.3125rem;
  font-weight: normal;
  /* LTR */
}

[dir=rtl] .field--name-field-tags .field__label {
  padding-right: 0;
  padding-left: 0.3125rem;
}

.field--name-field-tags .field__label,
.field--name-field-tags ul.links {
  font-size: 1.05rem;
}

.node--view-mode-teaser .field--name-field-tags .field__label,
.node--view-mode-teaser .field--name-field-tags ul.links {
  font-size: 1.05rem;
}

.field--name-field-tags ul.links {
  margin: 0;
  padding: 0;
}

.field--name-field-tags ul.links li {
  float: left;
  /* LTR */
  padding: 0 1rem 0 0;
  /* LTR */
  white-space: nowrap;
}

[dir=rtl] .field--name-field-tags ul.links li {
  float: right;
  padding: 0 0 0 1rem;
}

.field--label-inline .field__label,
.field--label-inline .field__item {
  display: inline-block;
}

.field--name-node-title a {
  color: #333;
}
