@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.form-required::after {
  display: inline-block;
  width: calc(calc(1.5em + 0.75rem + 2px) * 0.16666666666);
  height: calc(calc(1.5em + 0.75rem + 2px) * 0.16666666666);
  margin: 0 0.3em;
  content: "";
  vertical-align: super;
  background-image: url(../../images/required.svg);
  background-repeat: no-repeat;
  background-size: calc(calc(1.5em + 0.75rem + 2px) * 0.16666666666) calc(calc(1.5em + 0.75rem + 2px) * 0.16666666666);
}

form .filter-wrapper {
  padding-right: 1rem;
  padding-left: 1rem;
}

form .form-type-textarea {
  margin-bottom: 0;
}

input[type=text]::-ms-clear,
input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
