@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.icon-help {
  /* LTR */
  padding: 1px 0 1px 1.5rem;
  background: url(../../images/help.png) 0 50% no-repeat;
  /* LTR */
}

[dir=rtl] .icon-help {
  padding: 1px 1.5rem 1px 0;
  background-position: 100% 50%;
}

.feed-icon {
  display: block;
  overflow: hidden;
  width: 1.2rem;
  height: 1.2rem;
  text-indent: -9999px;
  background: url(../../images/feed.svg) no-repeat;
}
