@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.indented {
  margin-left: 1.5rem;
  /* LTR */
}

[dir=rtl] .indented {
  margin-right: 1.5rem;
  margin-left: 0;
}
