@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.item-list ul {
  margin: 0 0 0.75rem 0;
  padding: 0;
  list-style: none;
  /* LTR */
}

[dir=rtl] .item-list ul {
  padding: 0;
}

.item-list ul li {
  /* This is needed to reset styles in item-list.theme.css */
  margin: 0;
  padding: 0.75rem 1.25rem 0 0;
  /* LTR */
}

[dir=rtl] .item-list ul li {
  /* This is needed to reset [dir="rtl"] styles in item-list.theme.css */
  margin: 0;
  padding: 0.75rem 0 0 1.25rem;
}

.item-list .item-list__comma-list,
.item-list .item-list__comma-list li,
[dir=rtl] .item-list .item-list__comma-list,
[dir=rtl] .item-list .item-list__comma-list li {
  padding: 0;
}
