@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.list-group__link {
  padding: 0.75rem 0 0;
  border-top: 1px solid #dee2e6;
}

.list-group__description {
  margin: 0 0 0.75rem;
}
