@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
#edit-moderation-state-wrapper > div,
#content-moderation-entity-moderation-form > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#edit-moderation-state-wrapper > div fieldset label,
#content-moderation-entity-moderation-form > div fieldset label {
  float: left;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0.5rem 0 0;
  font-weight: bold;
}
#edit-moderation-state-wrapper .entity-moderation-form,
#content-moderation-entity-moderation-form .entity-moderation-form {
  list-style: none;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  -webkit-margin-start: 0;
  padding-inline-start: 0;
  -webkit-padding-start: 0;
}
#edit-moderation-state-wrapper .entity-moderation-form__item,
#content-moderation-entity-moderation-form .entity-moderation-form__item {
  margin-top: 1rem;
}
#edit-moderation-state-wrapper .entity-moderation-form__item:first-child,
#content-moderation-entity-moderation-form .entity-moderation-form__item:first-child {
  margin-top: 0;
}
#edit-moderation-state-wrapper .entity-moderation-form__item label,
#content-moderation-entity-moderation-form .entity-moderation-form__item label {
  font-weight: bold;
}

@media (max-width: 768px) {
  #edit-moderation-state-wrapper .entity-moderation-form__item button,
  #content-moderation-entity-moderation-form .entity-moderation-form__item button {
    width: 100%;
  }
}
@media (min-width: 768px) {
  #edit-moderation-state-wrapper > div,
  #content-moderation-entity-moderation-form > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1rem;
  }
  #edit-moderation-state-wrapper > div fieldset,
  #content-moderation-entity-moderation-form > div fieldset {
    margin-right: calc(1.625rem + 4.5vw);
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  #edit-moderation-state-wrapper > div fieldset,
  #content-moderation-entity-moderation-form > div fieldset {
    margin-right: 5rem;
  }
}
@media (min-width: 768px) {
  #edit-moderation-state-wrapper > div fieldset.form-item-moderation-state-0-state,
  #content-moderation-entity-moderation-form > div fieldset.form-item-moderation-state-0-state {
    margin-top: -0.5rem;
  }
  #edit-moderation-state-wrapper > div fieldset.form-item-moderation-state-0-state label,
  #content-moderation-entity-moderation-form > div fieldset.form-item-moderation-state-0-state label {
    margin-top: 0.5rem;
  }
}
@media (min-width: 768px) {
  #edit-moderation-state-wrapper > div fieldset .form-control,
  #content-moderation-entity-moderation-form > div fieldset .form-control {
    float: left;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 20em;
  }
}
@media (min-width: 768px) {
  #edit-moderation-state-wrapper .entity-moderation-form,
  #content-moderation-entity-moderation-form .entity-moderation-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  #edit-moderation-state-wrapper .entity-moderation-form__item,
  #content-moderation-entity-moderation-form .entity-moderation-form__item {
    display: table;
    margin-right: 2em;
  }
  #edit-moderation-state-wrapper .entity-moderation-form__item:first-child,
  #content-moderation-entity-moderation-form .entity-moderation-form__item:first-child {
    width: 8.3rem;
    margin-top: 1rem;
  }
  #edit-moderation-state-wrapper .entity-moderation-form__item:last-child,
  #content-moderation-entity-moderation-form .entity-moderation-form__item:last-child {
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: 0;
  }
  #edit-moderation-state-wrapper .entity-moderation-form__item .form-item-revision-log,
  #content-moderation-entity-moderation-form .entity-moderation-form__item .form-item-revision-log {
    width: 15rem;
  }
}
@media (min-width: 768px) {
  [dir=rtl] #edit-moderation-state-wrapper > div fieldset,
  [dir=rtl] #content-moderation-entity-moderation-form > div fieldset {
    margin-right: 0;
    margin-left: calc(1.625rem + 4.5vw);
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  [dir=rtl] #edit-moderation-state-wrapper > div fieldset,
  [dir=rtl] #content-moderation-entity-moderation-form > div fieldset {
    margin-left: 5rem;
  }
}
@media (min-width: 768px) {
  [dir=rtl] #edit-moderation-state-wrapper > div fieldset label,
  [dir=rtl] #content-moderation-entity-moderation-form > div fieldset label {
    float: right;
    margin: 0 0 0 0.5rem;
  }
}
@media (min-width: 768px) {
  [dir=rtl] #edit-moderation-state-wrapper > div fieldset.form-item-moderation-state-0-state label,
  [dir=rtl] #content-moderation-entity-moderation-form > div fieldset.form-item-moderation-state-0-state label {
    margin-top: 0.5rem;
  }
}
@media (min-width: 768px) {
  [dir=rtl] #edit-moderation-state-wrapper > div fieldset .form-control,
  [dir=rtl] #content-moderation-entity-moderation-form > div fieldset .form-control {
    float: right;
  }
}
@media (min-width: 768px) {
  [dir=rtl] #edit-moderation-state-wrapper .entity-moderation-form__item,
  [dir=rtl] #content-moderation-entity-moderation-form .entity-moderation-form__item {
    margin-right: 0;
    margin-left: 1rem;
  }
  [dir=rtl] #edit-moderation-state-wrapper .entity-moderation-form__item:last-child,
  [dir=rtl] #content-moderation-entity-moderation-form .entity-moderation-form__item:last-child {
    margin-right: auto;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  #edit-moderation-state-wrapper .entity-moderation-form__item .form-item-revision-log,
  #content-moderation-entity-moderation-form .entity-moderation-form__item .form-item-revision-log {
    width: 17rem;
  }
}
#edit-preview-toggle {
  margin-top: 1rem;
}
