@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.navbar-nav.ml-auto .dropdown-menu {
  right: 0;
  left: auto;
}

[dir=rtl] .navbar-nav.ml-auto .dropdown-menu {
  right: auto;
  left: 0;
}

@media (min-width: 576px) {
  .navbar-nav.ml-sm-auto .dropdown-menu {
    right: 0;
    left: auto;
  }

  [dir=rtl] .navbar-nav.ml-sm-auto .dropdown-menu {
    right: auto;
    left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-nav.ml-md-auto .dropdown-menu {
    right: 0;
    left: auto;
  }

  [dir=rtl] .navbar-nav.ml-md-auto .dropdown-menu {
    right: auto;
    left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-nav.ml-lg-auto .dropdown-menu {
    right: 0;
    left: auto;
  }

  [dir=rtl] .navbar-nav.ml-lg-auto .dropdown-menu {
    right: auto;
    left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-nav.ml-xl-auto .dropdown-menu {
    right: 0;
    left: auto;
  }

  [dir=rtl] .navbar-nav.ml-xl-auto .dropdown-menu {
    right: auto;
    left: 0;
  }
}
#navbar-main {
  z-index: 1;
}
