@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.node-preview-container {
  position: fixed;
  z-index: 499;
  width: 100%;
  padding: 10px;
  background: #d1e8f5;
  background-image: linear-gradient(to bottom, #d1e8f5, #d3e8f4);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3333);
  font-family: Arial, sans-serif;
}
.node-preview-container .form-type-select {
  flex-flow: row;
  margin: 0;
}
.node-preview-container select {
  display: inline-block;
  width: 10rem;
}

form#node-preview-form-select {
  display: flex;
  justify-content: space-between;
}

.node-preview-backlink {
  margin: 0;
  padding: 4px 1em 4px 0.6em;
  color: #fff;
  /* LTR */
  border: 1px solid #0048c8;
  border-radius: 0.4em;
  background: url(../../../../misc/icons/000000/chevron-left.svg) left no-repeat, linear-gradient(to bottom, #419ff1, #1076d5);
  background-color: #419ff1;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  /* LTR */
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  font-size: 0.9em;
  line-height: normal;
  line-height: 1.8rem;
}
.node-preview-backlink:focus,
.node-preview-backlink:hover {
  text-decoration: none;
  color: #fff;
  /* LTR */
  border: 1px solid #0048c8;
  background: url(../../../../misc/icons/000000/chevron-left.svg) left no-repeat, linear-gradient(to bottom, #59abf3, #2a90ef);
  background-color: #419cf1;
}
.node-preview-backlink:active {
  /* LTR */
  border: 1px solid #0048c8;
  background: url(../../../../misc/icons/000000/chevron-left.svg) left no-repeat, linear-gradient(to bottom, #0e69be, #2a93ef);
  background-color: #0e69be;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}
.node-preview-backlink::before {
  display: inline-block;
  width: 10px;
  content: "";
}

[dir=rtl] .node-preview-backlink {
  float: right;
  padding: 4px 0.6em 4px 1em;
  background: url(../../../../misc/icons/000000/chevron-right.svg) right no-repeat, linear-gradient(to bottom, #419ff1, #1076d5);
}
[dir=rtl] .node-preview-backlink:focus,
[dir=rtl] .node-preview-backlink:hover {
  background: url(../../../../misc/icons/000000/chevron-right.svg) right no-repeat, linear-gradient(to bottom, #59abf3, #2a90ef);
}
[dir=rtl] .node-preview-backlink:active {
  background: url(../../../../misc/icons/000000/chevron-right.svg) right no-repeat, linear-gradient(to bottom, #0e69be, #2a93ef);
}

@media (min-width: 576px) {
  .node-preview-container select {
    width: 14rem;
  }
}
.vartheme-node-preview-page .dialog-off-canvas-main-canvas {
  margin-top: 4rem;
}
