@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.node__content {
  font-size: 1.2rem;
}

.node--view-mode-teaser {
  padding-bottom: 1rem;
}
.node--view-mode-teaser.node--sticky {
  padding: 0 1rem 1rem;
  border: 1px solid #dee2e6;
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
}
.node--view-mode-teaser .node__content {
  clear: none;
  font-size: 1.2rem;
  line-height: 1.5;
}

.node__meta {
  margin-bottom: -0.3125;
  font-size: 1.05rem;
}
.node__meta .field--name-field-user-picture img {
  float: left;
  /* LTR */
  margin: 0.0625 1rem 0 0;
  /* LTR */
}

[dir=rtl] .node__meta .field--name-field-user-picture img {
  float: right;
  margin-right: 0;
  margin-left: 1rem;
}

.node__links {
  text-align: right;
  /* LTR */
  font-size: 1.2rem;
}

[dir=rtl] .node__links {
  text-align: left;
}

.node--unpublished .comment-text .comment-arrow {
  border-right: 1px solid #fff4f4;
  border-left: 1px solid #fff4f4;
}

@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
/* Insert your madraj content custom SASS styling. */
.node--type-service.node--view-mode-vertical-media-teaser-large .service-vertical-teaser-wrapper {
  position: relative;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}
.node--type-service.node--view-mode-vertical-media-teaser-large .service-vertical-teaser-wrapper .field--name-node-title {
  margin-top: 15px;
}
.node--type-service.node--view-mode-vertical-media-teaser-large .field-name-body {
  font-size: 1rem;
}
.node--type-service.node--view-mode-full #field-language-display {
  display: none;
}

.node--type-media.node--view-mode-tout-medium {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  border-radius: 15px;
  background-color: #fff;
}
.node--type-media.node--view-mode-tout-medium img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.node--type-media.node--view-mode-tout-medium .fields-wrapper {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}
.node--type-media.node--view-mode-tout-medium .fields-wrapper.Article .field--name-field-tag h2 {
  background-color: #82b4da;
}
.node--type-media.node--view-mode-tout-medium .fields-wrapper.Video .field--name-field-tag h2 {
  background-color: #bf5480;
}
.node--type-media.node--view-mode-tout-medium .fields-wrapper.News .field--name-field-tag h2 {
  background-color: #5043ab;
}
.node--type-media.node--view-mode-tout-medium .field--name-taxonomy-term-title h2 {
  position: absolute;
  bottom: 0;
  margin: 0;
}
.node--type-media.node--view-mode-tout-medium .body-wrapper {
  padding: 0.9375rem;
}
.node--type-media.node--view-mode-tout-medium .field--name-node-title {
  margin-top: 0.9375rem;
}
.node--type-media.node--view-mode-tout-medium .field--name-node-title h2 {
  font-size: calc(1.2625rem + 0.15vw);
  font-weight: 600;
}
@media (min-width: 1200px) {
  .node--type-media.node--view-mode-tout-medium .field--name-node-title h2 {
    font-size: 1.375rem;
  }
}
.node--type-media.node--view-mode-tout-medium .field--name-body {
  font-size: 1rem;
}
.node--type-media.node--view-mode-full .field--name-field-tag {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.625rem;
  padding: 0.3125rem 0.625rem;
  color: #fff;
  background-color: #bf5480;
}
.node--type-media.node--view-mode-full .field--type-created {
  display: block;
  margin-bottom: 10px;
}
.node--type-media.node--view-mode-full .field--name-field-link {
  margin-top: 0.625rem;
}
.node--type-media.node--view-mode-full .field--name-field-link a {
  display: block;
}
.node--type-media.node--view-mode-full #field-language-display {
  display: none;
}

.node--type-fact.node--view-mode-teaser {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}
.node--type-fact.node--view-mode-teaser > * {
  flex: 100%;
}
.node--type-fact.node--view-mode-teaser .field--name-field-number {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 20px;
  font-size: calc(1.5rem + 3vw);
  font-weight: 700;
}
@media (min-width: 1200px) {
  .node--type-fact.node--view-mode-teaser .field--name-field-number {
    font-size: 3.75rem;
  }
}

.node--type-supporter.node--view-mode-teaser {
  padding: 10px;
  border-radius: 10px;
}
.node--type-supporter.node--view-mode-teaser .field--name-field-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.node--type-supporter.node--view-mode-teaser .field--name-field-link a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
}

.taxonomy-term--type-media-tag.taxonomy-term--view-mode-text .field--name-taxonomy-term-title h2 {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  color: #fff;
  background: #bf5480;
  font-size: 1rem;
}

.node--type-innovator.node--view-mode-teaser a {
  display: block;
}
.node--type-innovator.node--view-mode-teaser .field--name-node-title {
  margin-top: 10px;
}
.node--type-innovator.node--view-mode-teaser .field--name-node-title h2 {
  font-size: calc(1.2625rem + 0.15vw);
}
@media (min-width: 1200px) {
  .node--type-innovator.node--view-mode-teaser .field--name-node-title h2 {
    font-size: 1.375rem;
  }
}
.node--type-innovator.node--view-mode-teaser .field--name-node-title h2 a {
  text-align: center;
  color: #bf5480;
  font-weight: 600;
}
.node--type-innovator.node--view-mode-teaser .field--name-field-plain-text {
  text-align: center;
  color: #bf5480;
  font-size: 1.125rem;
  font-weight: 600;
}
.node--type-innovator.node--view-mode-teaser .field--name-field-image img {
  border-radius: 15px;
}
.node--type-innovator.node--view-mode-full .main-section {
  padding: calc(1.3125rem + 0.75vw);
  border-radius: 15px;
  background-image: url(../../images/trainee-background.png);
  background-size: cover;
}
@media (min-width: 1200px) {
  .node--type-innovator.node--view-mode-full .main-section {
    padding: 1.875rem;
  }
}
.node--type-innovator.node--view-mode-full .main-section .layout > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.node--type-innovator.node--view-mode-full .main-section .field--name-body .field__label {
  margin-bottom: 10px;
  color: #bf5480;
  font-size: calc(1.35rem + 1.2vw);
  font-weight: 600;
}
@media (min-width: 1200px) {
  .node--type-innovator.node--view-mode-full .main-section .field--name-body .field__label {
    font-size: 2.25rem;
  }
}
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-image {
  flex: 32%;
  max-width: 32%;
}
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-image .field--name-field-media-image img {
  border-radius: 15px;
}
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorbody {
  flex: 65%;
  max-width: 65%;
}
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 {
  flex: 33.33%;
  max-width: 33.33%;
  margin-top: 20px;
  padding: 10px;
  background-color: #4660ac;
}
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term .field--name-field-term,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term .field--name-field-term-2,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term .field--name-field-term-3,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2 .field--name-field-term,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2 .field--name-field-term-2,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2 .field--name-field-term-3,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 .field--name-field-term,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 .field--name-field-term-2,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 .field--name-field-term-3 {
  display: flex;
}
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term .field--name-field-term .field__label,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term .field--name-field-term-2 .field__label,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term .field--name-field-term-3 .field__label,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2 .field--name-field-term .field__label,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2 .field--name-field-term-2 .field__label,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2 .field--name-field-term-3 .field__label,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 .field--name-field-term .field__label,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 .field--name-field-term-2 .field__label,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 .field--name-field-term-3 .field__label {
  margin-right: 5px;
}
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term .field--name-field-term .field__label::after,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term .field--name-field-term-2 .field__label::after,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term .field--name-field-term-3 .field__label::after,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2 .field--name-field-term .field__label::after,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2 .field--name-field-term-2 .field__label::after,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2 .field--name-field-term-3 .field__label::after,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 .field--name-field-term .field__label::after,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 .field--name-field-term-2 .field__label::after,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 .field--name-field-term-3 .field__label::after {
  content: ":";
}
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term .field--name-field-term *,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term .field--name-field-term-2 *,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term .field--name-field-term-3 *,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2 .field--name-field-term *,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2 .field--name-field-term-2 *,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2 .field--name-field-term-3 *,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 .field--name-field-term *,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 .field--name-field-term-2 *,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 .field--name-field-term-3 * {
  color: #fff;
}
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term.block-field-blocknodeinnovatorfield-term,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2.block-field-blocknodeinnovatorfield-term,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3.block-field-blocknodeinnovatorfield-term {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term.block-field-blocknodeinnovatorfield-term-2,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2.block-field-blocknodeinnovatorfield-term-2,
.node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3.block-field-blocknodeinnovatorfield-term-2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.node--type-innovator.node--view-mode-full .field--name-field-long-text,
.node--type-innovator.node--view-mode-full .field--name-field-long-text-2 {
  margin-top: 15px;
}
.node--type-innovator.node--view-mode-full .field--name-field-long-text .field__label,
.node--type-innovator.node--view-mode-full .field--name-field-long-text-2 .field__label {
  margin-bottom: 5px;
  color: #bf5480;
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 600;
}
@media (min-width: 1200px) {
  .node--type-innovator.node--view-mode-full .field--name-field-long-text .field__label,
  .node--type-innovator.node--view-mode-full .field--name-field-long-text-2 .field__label {
    font-size: 1.5rem;
  }
}
@media (max-width: 991.98px) {
  .node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-image,
  .node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorbody {
    flex: 100%;
    max-width: 100%;
  }
  .node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-image.block-field-blocknodeinnovatorbody,
  .node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorbody.block-field-blocknodeinnovatorbody {
    margin-top: 15px;
  }
  .node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term,
  .node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2,
  .node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3 {
    flex: 100%;
    max-width: 100%;
  }
  .node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term.block-field-blocknodeinnovatorfield-term,
  .node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2.block-field-blocknodeinnovatorfield-term,
  .node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3.block-field-blocknodeinnovatorfield-term {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term.block-field-blocknodeinnovatorfield-term-2,
  .node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-2.block-field-blocknodeinnovatorfield-term-2,
  .node--type-innovator.node--view-mode-full .block-field-blocknodeinnovatorfield-term-3.block-field-blocknodeinnovatorfield-term-2 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
