@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
input[type=search] {
  box-sizing: border-box;
}

header #search-block-form {
  flex-flow: row wrap;
  padding: 0.3125rem 0.9375rem;
}

#search-block-form {
  display: flex;
}
