@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.sidebar .block {
  margin: 0 0 1rem;
  padding: 1rem 1rem;
  border-width: 1px;
  border-style: solid;
}
.sidebar .block .content {
  font-size: 1.2rem;
  line-height: 1.5;
}
.sidebar tbody {
  border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
  border-bottom: 1px solid #dee2e6;
  background: none;
}
.sidebar nav ul.nav {
  margin: -1rem;
}
