@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.site-footer {
  padding: 1rem 0;
}
.site-footer .layout-container {
  padding: 0 1rem;
}

.site-footer__top .content {
  margin-top: 0;
}

.site-footer__bottom .block {
  margin: 0.5rem 0;
}
.site-footer__bottom .content {
  margin-top: 0;
  padding: 0.5rem 0;
}
