@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.skip-link {
  z-index: 50;
  left: 50%;
  padding: 0.0625rem 1rem 0.125rem;
  transform: translateX(-50%);
  border-bottom-width: 0;
  border-radius: 0 0 0.3rem 0.3rem;
  outline: 0;
  background: #495057;
  font-size: 1.2rem;
  line-height: 1.5;
}
.skip-link .visually-hidden.focusable:focus {
  position: absolute !important;
  color: #fff;
}
