@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
tr.selected td {
  background: #ffc;
}

td.checkbox,
th.checkbox {
  text-align: center;
}

[dir=rtl] td.checkbox,
[dir=rtl] th.checkbox {
  /* This is required to win over specificity of [dir="rtl"] td */
  text-align: center;
}
