@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.tablesort {
  width: 14px;
  height: 14px;
  margin: 1px 0 0 5px;
  vertical-align: top;
}

.tablesort--asc {
  background-image: url(../../../../misc/icons/ffffff/twistie-down.svg);
}

.tablesort--desc {
  background-image: url(../../../../misc/icons/ffffff/twistie-up.svg);
}
