@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.ui-dialog {
  border-radius: 0;
}
.ui-dialog input,
.ui-dialog select,
.ui-dialog textarea {
  font-size: 1.2rem;
}
