@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.views-displays .tabs .open > a {
  border-radius: 0.3rem 0.3rem 0 0;
}
.views-displays .tabs .open > a:hover,
.views-displays .tabs .open > a:focus {
  color: #007bff;
}
.views-displays .tabs .action-list {
  padding: 0;
}
.views-displays .secondary .form-submit {
  font-size: 1.05rem;
}

.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
  background-color: #f9f9f9;
}

.views-ui-display-tab-actions .dropbutton .form-submit {
  color: #0056b3;
}
.views-ui-display-tab-actions .dropbutton .form-submit:hover,
.views-ui-display-tab-actions .dropbutton .form-submit:focus {
  color: #007bff;
}

.view-varbase-heroslider-media.view-id-varbase_heroslider_media .view-content {
  display: block;
  margin: 0;
}
.view-varbase-heroslider-media.view-id-varbase_heroslider_media .view-content .slick-dots {
  bottom: -40px;
}

.view-id-services .more-link,
.view-id-media_content .more-link {
  display: flex;
  justify-content: center;
  margin: 0.9375rem 0;
}
.view-id-services .more-link a,
.view-id-media_content .more-link a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 30px;
  transition: 0.2s;
  color: #fff;
  border: 1px solid #82b4da;
  border-radius: 25px;
  background-color: #82b4da;
  font-size: 1.25rem;
  font-weight: 500;
}
.view-id-services .more-link a a,
.view-id-media_content .more-link a a {
  color: #fff;
}
.view-id-services .more-link a:hover,
.view-id-services .more-link a:active,
.view-id-media_content .more-link a:hover,
.view-id-media_content .more-link a:active {
  color: #82b4da;
  border: 1px solid #82b4da;
  background-color: transparent;
}
.view-id-services .more-link a:hover a,
.view-id-services .more-link a:active a,
.view-id-media_content .more-link a:hover a,
.view-id-media_content .more-link a:active a {
  color: #82b4da;
}
.view-id-services .more-link a:focus,
.view-id-media_content .more-link a:focus {
  box-shadow: none;
}
.view-id-services .more-link a i,
.view-id-media_content .more-link a i {
  margin-right: 6px;
}
.view-id-services.view-display-id-home_page_services .views-row:nth-child(1) .service-vertical-teaser-wrapper,
.view-id-media_content.view-display-id-home_page_services .views-row:nth-child(1) .service-vertical-teaser-wrapper {
  background-color: #edf3fc;
}
.view-id-services.view-display-id-home_page_services .views-row:nth-child(2) .service-vertical-teaser-wrapper,
.view-id-media_content.view-display-id-home_page_services .views-row:nth-child(2) .service-vertical-teaser-wrapper {
  background-color: #e7e7f5;
}
.view-id-services.view-display-id-home_page_services .views-row:nth-child(3) .service-vertical-teaser-wrapper,
.view-id-media_content.view-display-id-home_page_services .views-row:nth-child(3) .service-vertical-teaser-wrapper {
  background-color: #f8e4f1;
}

.view-id-facts.view-display-id-home_page_facts .views-row {
  display: flex;
}

.block-views-blocksupporters-home-page-supporters > h2 {
  text-align: center;
}

.view-id-supporters.view-display-id-home_page_supporters .view-content {
  justify-content: center;
  margin-right: -30px;
  margin-left: -30px;
}
.view-id-supporters.view-display-id-home_page_supporters .slick__slide {
  padding-right: 30px;
  padding-left: 30px;
}
@media (max-width: 767.98px) {
  .view-id-supporters.view-display-id-home_page_supporters .slick__slide {
    padding-right: 75px;
    padding-left: 75px;
  }
}
@media (max-width: 575.98px) {
  .view-id-supporters.view-display-id-home_page_supporters .slick__slide {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.block-views > h2 {
  margin-bottom: 15px;
}

.slick--view--innovator.slick--view--innovator--home-page-innovators .slick__slide {
  margin: 0 10px;
}
.slick--view--innovator.slick--view--innovator--home-page-innovators .slick-arrow.slick-prev {
  left: -50px;
}
.slick--view--innovator.slick--view--innovator--home-page-innovators .slick-arrow.slick-next {
  right: -50px;
}
.slick--view--innovator.slick--view--innovator--home-page-innovators .slick-arrow::before {
  color: #82b4da;
}
