{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{% set header_container = theme.settings.header_container ? 'container-fluid header-margin' : 'container' %}
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
	{% block navbar %}
		{%
      set navbar_classes = [
      ]
    %}
		<header{{navbar_attributes.addClass(navbar_classes)}} id="navbar" role="banner">
			{% if container_navbar %}
				<div class="container">
				{% endif %}
				<div class="navbar-brand mr-md-auto">
					{{ page.navigation }}
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				{% if page.navigation_collapsible %}
					<div id="navbar-collapse" class="navbar-collapse collapse">
						<div class="navbar-nav ml-auto">
							{{ page.navigation_collapsible }}
						</div>
					</div>
				{% endif %}
				{% if container_navbar %}
				</div>
			{% endif %}
		</header>
	{% endblock %}
{% endif %}

{# Header print #}
<div class="d-none d-print-block header-print page-header mt-4 mb-3">
	<div class="{{ container }}">
		<div class="row">
			<div
				class="col-sm-12">
				{# Logo print #}
				{% if logo_print %}
					<img class="logo pull-left d-none d-print-inline-block" src="{{ logo_print }}" alt="{{ site_name }}"/>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{# Main #}
{% block main %}
	<div role="main" class="main-container {{ container }} js-quickedit-main-content">
		<div
			class="row">

			{# Header #}
			{% if page.header %}
				{% block header %}
					<div class="col-sm-12" role="heading">
						{{ page.header }}
					</div>
				{% endblock %}
			{% endif %}

			{# Sidebar First #}
			{% if page.sidebar_first %}
				{% block sidebar_first %}
					<aside class="col-sm-3" role="complementary">
						{{ page.sidebar_first }}
					</aside>
				{% endblock %}
			{% endif %}

			{# Content #}
			{%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
			<section{{content_attributes.addClass(content_classes)}}>

				{# Highlighted #}
				{% if page.highlighted %}
					{% block highlighted %}
						<div class="highlighted">{{ page.highlighted }}</div>
					{% endblock %}
				{% endif %}

				{# Breadcrumbs #}
				{% if breadcrumb %}
					{% block breadcrumb %}
						{{ breadcrumb }}
					{% endblock %}
				{% endif %}

				{# Action Links #}
				{% if action_links %}
					{% block action_links %}
						<ul class="action-links">{{ action_links }}</ul>
					{% endblock %}
				{% endif %}

				{# Help #}
				{% if page.help %}
					{% block help %}
						{{ page.help }}
					{% endblock %}
				{% endif %}

				{# Content #}
				{% block content %}
					<a id="main-content"></a>
					{{ page.content }}
				{% endblock %}
			</section>

			{# Sidebar Second #}
			{% if page.sidebar_second %}
				{% block sidebar_second %}
					<aside class="col-sm-3" role="complementary">
						{{ page.sidebar_second }}
					</aside>
				{% endblock %}
			{% endif %}
		</div>
	</div>
{% endblock %}

{% if page.footer %}
	{% block footer %}
		<div class="footer-wrapper">
			<div class="{{ container }}">
				<div class="row">
					<div class="footer-logo">
						<img src="/themes/custom/madraj/images/light-logo.png" alt="logo" width="250">
					</div>

					<footer class="footer" role="contentinfo">
						{{ page.footer }}
					</footer>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="last-footer">
					<div class="powered-by">
						<span>{{ 'Crafted by'|t }}:</span>
						<a href="http://www.digitique.co">
							<img src="/themes/custom/madraj/images/digitique.png" alt="Digitique logo" width="60">
						</a>
					</div>

					<div class="terms-and-conditions d-flex">
						<a href="#" class="mr-3">Terms of Conditions</a>
						<a href="#">Privacy Policy</a>
					</div>
				</div>

			</div>
		</div>
	{% endblock %}
{% endif %}
