@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
/* Insert your madraj base overrides over Vartheme BS4 and Bootstrap */
.facts-section {
  padding: 125px 0 !important;
}

.about-madraj-section .block-content--type-custom-block {
  display: flex;
  align-items: center;
}
.about-madraj-section .group-left {
  padding-right: 100px;
}
@media (max-width: 991.98px) {
  .about-madraj-section .block-content--type-custom-block {
    flex-direction: column-reverse;
  }
  .about-madraj-section .block-content--type-custom-block .group-left {
    width: 100%;
    padding-right: 0;
  }
  .about-madraj-section .block-content--type-custom-block .group-right {
    width: 60%;
    margin-bottom: 20px;
  }
}

.row-space .views-row {
  margin-bottom: 20px;
}

form .js-form-item label {
  display: none;
}
form .form-actions {
  text-align: center;
}
form .form-actions .button--primary {
  padding: 5px 30px;
  transition: 0.2s;
  color: #fff;
  border: 1px solid #6dc1ed;
  border-radius: 25px;
  background-color: #6dc1ed;
  font-size: 1.25rem;
  font-weight: 500;
}
form .form-actions .button--primary a {
  color: #fff;
}
form .form-actions .button--primary:hover,
form .form-actions .button--primary:active {
  color: #82b4da;
  border: 1px solid #82b4da;
  background-color: transparent;
}
form .form-actions .button--primary:hover a,
form .form-actions .button--primary:active a {
  color: #82b4da;
}
form .form-actions .button--primary:focus {
  box-shadow: none;
}
form .form-actions .button--primary i {
  margin-right: 6px;
}
form.webform-submission-contact-form {
  padding-right: calc(1.3125rem + 0.75vw);
  border-right: 1px solid #82b4da;
}
@media (min-width: 1200px) {
  form.webform-submission-contact-form {
    padding-right: 1.875rem;
  }
}
@media (max-width: 991.98px) {
  form.webform-submission-contact-form {
    margin-bottom: calc(1.3125rem + 0.75vw);
    padding-right: 0;
    border-right: none;
  }
}
@media (max-width: 991.98px) and (min-width: 1200px) {
  form.webform-submission-contact-form {
    margin-bottom: 1.875rem;
  }
}
form.webform-submission-apply-form-form {
  display: flex;
  flex-wrap: wrap;
}
form.webform-submission-apply-form-form .js-form-item {
  flex: 50%;
}
form.webform-submission-apply-form-form .js-form-item.js-form-type-textarea {
  flex: 100%;
}
form.webform-submission-apply-form-form .js-form-item:nth-child(1),
form.webform-submission-apply-form-form .js-form-item:nth-child(3) {
  padding-right: 0.5rem;
}
form.webform-submission-apply-form-form .js-form-item:nth-child(2),
form.webform-submission-apply-form-form .js-form-item:nth-child(4) {
  padding-left: 0.5rem;
}
form.webform-submission-apply-form-form .form-actions {
  flex: 100%;
}
form.webform-submission-apply-form-form .form-actions .button--primary {
  padding-right: calc(1.375rem + 1.5vw);
  padding-left: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  form.webform-submission-apply-form-form .form-actions .button--primary {
    padding-right: 2.5rem;
  }
}
@media (min-width: 1200px) {
  form.webform-submission-apply-form-form .form-actions .button--primary {
    padding-left: 2.5rem;
  }
}
@media (max-width: 991.98px) {
  form.webform-submission-apply-form-form .js-form-item {
    flex: 100%;
  }
  form.webform-submission-apply-form-form .js-form-item:nth-child(1),
  form.webform-submission-apply-form-form .js-form-item:nth-child(3) {
    padding-right: 0;
  }
  form.webform-submission-apply-form-form .js-form-item:nth-child(2),
  form.webform-submission-apply-form-form .js-form-item:nth-child(4) {
    padding-left: 0;
  }
}

.contact-information {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .contact-information {
    margin-top: 1.875rem;
  }
}
.contact-information a {
  display: flex;
  flex: 100%;
  margin-bottom: 0.9375rem;
  color: #333;
}
.contact-information a.contact-number::before {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
  content: "";
  background-image: url("../../images/mobile-icon.png");
  background-size: contain;
}
.contact-information a.contact-email::before {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
  content: "";
  background-image: url("../../images/email-icon.png");
  background-size: contain;
}

.vision-mission-section h2 {
  color: #5954b4;
}
.vision-mission-section .our-vision-block {
  background-color: #fff;
}
.vision-mission-section .our-vision-block .content::before {
  display: block;
  width: 125px;
  height: 130px;
  margin: auto;
  content: "";
  background-image: url("../../images/Vision.png");
  background-repeat: no-repeat;
  background-size: 120px 120px;
}
.vision-mission-section .our-mission-block {
  background-color: #fff;
}
.vision-mission-section .our-mission-block .content::before {
  display: block;
  width: 90px;
  height: 130px;
  margin: auto;
  content: "";
  background-image: url("../../images/Mission.png");
  background-repeat: no-repeat;
  background-size: 90px 120px;
}

.alert-wrapper {
  display: none !important;
}
