// Autocomplete widget component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

// Mimics .dropdown-menu styles.
.ui-autocomplete {
  background: $dropdown-bg;
  background-clip: padding-box;
  border: $dropdown-border-width solid $dropdown-border-color;
  border-radius: $dropdown-border-radius;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  color: inherit;
  font-family: $font-family-base;
  @include font-size($font-size-base);
  list-style: none;
  @include rfs (10rem, min-width);
  @include padding(0.3125rem 0);
  text-align: left;
  z-index: $zindex-dropdown;

  .ui-menu-item {
    border: 0;
    border-radius: 0;
    clear: both;
    color: $dropdown-link-color;
    cursor: pointer;
    display: block;
    font-weight: normal;
    @include rfs($line-height-base, line-height);
    margin: 0;
    outline: 0;
    padding: 0.1875rem 1.25rem;
    text-decoration: none;
    white-space: nowrap;

    &.ui-state-hover {
      background: $dropdown-link-hover-bg;
      color: $dropdown-link-hover-color;
    }

    &.ui-state-active, &.ui-state-focus {
      background: $dropdown-link-active-bg;
      color: $dropdown-link-active-color;
    }

  }

}
