// Book navigation component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

.book-navigation {
  .menu {
    padding-bottom: 0;
    @include padding-top(1rem);
    border-top: 1px solid $border-color;
  }

  .book-pager {
    margin: 0;
    overflow: auto;
    @include padding(0.5em 0);
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
  }
}

.book-pager__item {
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
}

.book-pager__item--previous {
  text-align: left; /* LTR */
  width: 45%;
}
[dir="rtl"] .book-pager__item--previous {
  float: right;
  text-align: right;
}

.book-pager__item--center {
  text-align: center;
  width: 8%;
}

.book-pager__item--next {
  float: right; /* LTR */
  text-align: right; /* LTR */
  width: 45%;
}
[dir="rtl"] .book-pager__item--next {
  float: left;
  text-align: left;
}
