// Breadcrumbs component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

.breadcrumb {
  @include font-size($font-size-sm); 
}

.region-breadcrumb {
  @include padding(0 0.9375rem 0.25rem);
  width: 100%;
}
