// Bootstrap callouts component style.
// -----------------------------------------------------------------------------
// Have the Bootstrap styling for callouts component.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

// Common styles for all types.
.bs-callout {
  @include padding(1.25rem);
  @include margin(1.25rem 0);
  border: 1px solid $gray-200;
  border-left-width: 5px;
  @include rfs(0.1875rem, border-radius);

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  h4 {
    margin-top: 0;
    @include margin-bottom(0.3125rem);
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    @include rfs(0.1875rem, border-radius);
  }
}

// Tighten up space between multiple callouts.
.bs-callout + .bs-callout {
  @include margin-top(-0.3125rem);
}

// Variations.
// Callout danger.
.bs-callout-danger {
  border-left-color: $danger;

  h4 {
    color: $danger;
  }
}

// Callout warning.
.bs-callout-warning {
  border-left-color: $warning;

  h4 {
    color: $warning;
  }
}

// Callout info.
.bs-callout-info {
  border-left-color: $info;

  h4 {
    color: $info;
  }
}

// Bootstrap callouts right to left.
// Common styles for all types.
[dir="rtl"] .bs-callout {
  border-left-width: 1px;
  border-right-width: 5px;
}

// Variations.
// Callout danger.
[dir="rtl"] .bs-callout-danger {
  border-left-color: $gray-200;
  border-right-color: $danger;
}

// Callout warning.
[dir="rtl"] .bs-callout-warning {
  border-left-color: $gray-200;
  border-right-color: $warning;
}

// Callout info.
[dir="rtl"] .bs-callout-info {
  border-left-color: $gray-200;
  border-right-color: $info;
}