// Field component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

.field--type-entity-reference .field__label {
  font-weight: normal;
  margin: 0;
  padding-right: ($spacer * .3);
  /* LTR */
}

[dir="rtl"] .field--type-entity-reference .field__label {
  padding-left: ($spacer * .3);
  padding-right: 0;
}

.field--type-entity-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.field--type-entity-reference ul.links li {
  float: left;
  /* LTR */
  padding: 0 $spacer 0 0;
  /* LTR */
  white-space: nowrap;
}

[dir="rtl"] .field--type-entity-reference ul.links li {
  padding: 0 0 0 $spacer;
  float: right;
}

@media all and (min-width: 560px) {
  .node .field--type-image+.field--type-image {
    clear: both;
  }
}

.field--type-image a {
  border-bottom: none;
}

.field--name-field-tags {
  margin: 0 0 ($spacer * 1.2);
}

.field--name-field-tags .field__label {
  font-weight: normal;
  margin: 0;
  @include padding-right(0.3125rem);
  /* LTR */
}

[dir="rtl"] .field--name-field-tags .field__label {
  @include padding-left(0.3125rem);
  padding-right: 0;
}

.field--name-field-tags .field__label,
.field--name-field-tags ul.links {
  @include font-size($font-size-sm);
}

.node--view-mode-teaser .field--name-field-tags .field__label,
.node--view-mode-teaser .field--name-field-tags ul.links {
  @include font-size($font-size-sm);
}

.field--name-field-tags ul.links {
  padding: 0;
  margin: 0;
}

.field--name-field-tags ul.links li {
  float: left;
  /* LTR */
  padding: 0 $spacer 0 0;
  /* LTR */
  white-space: nowrap;
}

[dir="rtl"] .field--name-field-tags ul.links li {
  padding: 0 0 0 $spacer;
  float: right;
}

.field--label-inline .field__label,
.field--label-inline .field__item {
  display: inline-block
}

.field--name-node-title {
  a {
    color: #333;
  }
}
