// Form component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

.form-required {

  &::after {
    content: '';
    vertical-align: super;
    display: inline-block;
    background-image: url(../../images/required.svg);
    background-repeat: no-repeat;
    background-size: calc(#{$input-height} * .16666666666) calc(#{$input-height} * .16666666666);
    width: calc(#{$input-height} * .16666666666);
    height: calc(#{$input-height} * .16666666666);
    margin: 0 0.3em;
  }
}

form .filter-wrapper {
  @include padding-left(1rem);
  @include padding-right(1rem);
}

form .form-type-textarea {
  margin-bottom: 0;
}

input[type=text] {
  &::-ms-clear, &::-ms-reveal {
    display: none;
    height: 0;
    width: 0;
  }
}

