// Item list component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

.item-list ul {
  list-style: none;
  @include margin(0 0 $list-group-item-padding-y 0);
  padding: 0;
  /* LTR */
}

[dir="rtl"] .item-list ul {
  padding: 0;
}

.item-list ul li {
  /* This is needed to reset styles in item-list.theme.css */
  margin: 0;
  @include padding($list-group-item-padding-y $list-group-item-padding-x 0 0);
  /* LTR */
}

[dir="rtl"] .item-list ul li {
  /* This is needed to reset [dir="rtl"] styles in item-list.theme.css */
  margin: 0;
  @include padding($list-group-item-padding-y 0 0 $list-group-item-padding-x);
}

.item-list .item-list__comma-list,
.item-list .item-list__comma-list li,
[dir="rtl"] .item-list .item-list__comma-list,
[dir="rtl"] .item-list .item-list__comma-list li {
  padding: 0;
}
