// List group component style.
// -----------------------------------------------------------------------------
// A list of links, grouped together.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

.list-group__link {
  border-top: $border-width solid $border-color;
  @include padding($list-group-item-padding-y 0 0);
}

.list-group__description {
  @include margin(0 0 $list-group-item-padding-y);
}
