// Moderation status component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

#edit-moderation-state-wrapper,
#content-moderation-entity-moderation-form {
  > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    fieldset {
      label {
        font-weight: bold;
        float: left;
        width: fit-content;
        @include margin(0 0.5rem 0 0); 
      }
    }
  }

  .entity-moderation-form {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }

  .entity-moderation-form__item {
    @include margin-top(1rem);
 
    &:first-child {
      margin-top: 0;
    }

    label {
      font-weight: bold;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  #edit-moderation-state-wrapper,
  #content-moderation-entity-moderation-form {
    .entity-moderation-form__item {
      button {
        width: 100%;
      } 
    }
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) { 
  #edit-moderation-state-wrapper,
  #content-moderation-entity-moderation-form {
    > div {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      @include padding-top(1rem);

      fieldset {
        @include margin-right(5rem);

        &.form-item-moderation-state-0-state {
          @include margin-top(-0.5rem);

          label {
            @include margin-top(0.5rem);
          }
        }

        .form-control {
          max-width: 20em;
          float: left;
          width: fit-content;
        }
      }
    }

    .entity-moderation-form {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    .entity-moderation-form__item {
      display: table;
      margin-right: 2em;

      &:first-child {
        @include margin-top(1rem);
        width: 8.3rem;
      }

      &:last-child {
        @include margin-top(1rem);
        align-self: flex-end;
        margin-right: 0;
      }

      .form-item-revision-log {
        width: 15rem;
      }
    }
  }

  [dir="rtl"] #edit-moderation-state-wrapper,
  [dir="rtl"] #content-moderation-entity-moderation-form {
    > div {

      fieldset {
        margin-right: 0;
        @include margin-left(5rem);

        label {
          float: right;
          @include margin(0 0 0 0.5rem);
        }

        &.form-item-moderation-state-0-state {
          label {
            @include margin-top(0.5rem);
          }
        }

        .form-control {
          float: right;
        }
      }
    }

    .entity-moderation-form__item {
      margin-right: 0;
      margin-left: 1rem;

      &:last-child {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, "lg")) { 
  #edit-moderation-state-wrapper,
  #content-moderation-entity-moderation-form {
    .entity-moderation-form__item {
      .form-item-revision-log {
        width: 17rem;
      }
    }
  }
}

#edit-preview-toggle {
  @include margin-top(1rem);
}
