// Vartheme navbar for administration component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

body.user-logged-in {
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;

  &.navbar-is-fixed-bottom {
    padding-bottom: 71px !important;

    .navbar.fixed-bottom{
      bottom: -25px;
    }
  }

  &.toolbar-fixed {
    padding-top: 40px !important;

    .navbar.fixed-top, .navbar.sticky-top{
      top: 40px;
    }

    &.navbar-is-fixed-top {
      padding-top: 136px !important;
    }

    &.navbar-is-fixed-bottom{
      padding-top: 60px !important;
    }
  }

  &.toolbar-tray-open {
    padding-top: 79px !important;

    .navbar.fixed-top, .navbar.sticky-top {
      top: 79px;
    }

    &.navbar-is-fixed-top {
      padding-top: 175px !important;
    }

    &.navbar-is-fixed-bottom{
      padding-top: 100px !important;
    }
  }

  &.toolbar-tray-open.toolbar-vertical {
    padding-top: 40px !important;

    .navbar.fixed-top, .navbar.sticky-top{
      top: 40px;
      margin-left: 241px;
    }

    &.navbar-is-fixed-top {
      padding-top: 136px !important;
    }

    &.navbar-is-fixed-bottom{
      padding-top: 60px !important;
      .navbar.fixed-bottom{
        margin-left: 241px;
      }
    }
  }

  // Admin_menu toolbar.
  &.admin-menu {
    .navbar.fixed-top, .navbar.sticky-top {
      top: 29px;
    }
    &.navbar-is-fixed-top {
      padding-top: 93px !important;
    }
  }

  div#admin-toolbar {
    z-index: 1600;
  }

  // Override box-shadow styles on all "admin" menus.
  #toolbar, #admin-menu, #admin-toolbar {
    box-shadow: none;
  }

  // Override #admin-menu style.
  #admin-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1600;

    .dropdown li {
      line-height: normal;
    }
  }

  &.navbar-is-fixed-top {
    .navbar.fixed-top,
    .navbar.sticky-top,
    .navbar.fixed-bottom {
      z-index: 499;
    }

    &#navbar-administration {
      &.navbar-horizontal {
        &.navbar-tray-open {
          margin-top: 143px!important;

          .navbar-tray-open {
            top: 79px;
          }
        }
      }

      .navbar.fixed-top, .navbar.sticky-top{
        top: 39px;
      }
    }
  }

  #navbar-administration {
    &.navbar-oriented {
      .navbar-bar {
        z-index: 1032;
      }

      .navbar-tray-vertical {
        width: 24rem;
      }
    }

    .navbar-tray {
      z-index: 1031;
    }
  }

  &.navbar-is-fixed-top {
    &#navbar-administration {
      &.navbar-vertical {
        &.navbar-tray-open {
          .navbar.fixed-top, .navbar.sticky-top {
            left: 240px;
            left: 24rem;
          }
        }
      }
    }
  }
}

[dir="rtl"] body.user-logged-in {
  &.toolbar-tray-open.toolbar-vertical {
    .navbar.fixed-top, .navbar.sticky-top{
      margin-left: 0px;
      margin-right: 241px;
    }

    &.navbar-is-fixed-bottom{
      .navbar.fixed-bottom{
        margin-left: 0px;
        margin-right: 241px;
      }
    }
  }
}
