// Node component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions"; // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins"; // Bootstrap mixins.
@import "../variables"; // madraj variables.
@import "../mixins"; // madraj mixins.
// -----------------------------------------------------------------------------

.node__content {
  @include font-size($font-size-base);
}

// View mode teaser styles.
.node--view-mode-teaser {
  @include padding-bottom($spacer);

  &.node--sticky {
    background: #f9f9f9;
    background: rgba(0, 0, 0, 0.024);
    border: $border-width solid $border-color;
    @include padding(0 $spacer $spacer);
  }

  .node__content {
    clear: none;
    @include font-size($font-size-base);
    @include rfs($line-height-base, line-height);
  }
}

// Node metadata styles.
.node__meta {
  @include font-size($font-size-sm);
  @include margin-bottom(-0.3125);

  .field--name-field-user-picture {
    img {
      float: left;
      /* LTR */
      @include margin(0.0625 $spacer 0 0);
      /* LTR */
    }
  }
}
[dir="rtl"] .node__meta {
  .field--name-field-user-picture {
    img {
      float: right;
      @include margin-left($spacer);
      margin-right: 0;
    }
  }
}

// Node links styles.
.node__links {
  text-align: right;
  /* LTR */
  @include font-size($font-size-base);
}
[dir="rtl"] .node__links {
  text-align: left;
}

// Unpublished node styles.
.node--unpublished {
  .comment-text {
    .comment-arrow {
      border-left: $border-width solid #fff4f4;
      border-right: $border-width solid #fff4f4;
    }
  }
}

// madraj content styling.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions"; // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins"; // Bootstrap mixins.
@import "../variables"; // madraj variables.
@import "../mixins"; // madraj mixins.
// -----------------------------------------------------------------------------

/* Insert your madraj content custom SASS styling. */

// .node--type-varbase-heroslider-media {
//   &.node--view-mode-horizontal-media-teaser-large {
//     .group-left {
//       padding: 0 50px 0 100px;
//       display: flex;
//       flex-wrap: wrap;
//       align-items: center;
//     }

//     .field--name-field-link {
//       margin-top: 15px;
//       a {
//         @include button($background-color: $primary-color);
//         display: block;
//       }
//     }

//     .field--name-node-title {
//       .extra-large {
//         @include font-size(38px);
//       }
//     }
//   }
// }

.node--type-service {
  &.node--view-mode-vertical-media-teaser-large {
    .service-vertical-teaser-wrapper {
      position: relative;
      margin-bottom: 20px;
      padding: 15px;
      border-radius: 10px;
      text-align: center;

      .field--name-node-title {
        margin-top: 15px;
      }
    }

    .field-name-body {
      @include font-size(16px);
    }
  }

  &.node--view-mode-full {
    #field-language-display {
      display: none;
    }
  }
}

.node--type-media {
  &.node--view-mode-tout-medium {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: $white;
    border-radius: 15px;

    img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .fields-wrapper {
      position: relative;
      height: fit-content;

      &.Article {
        .field--name-field-tag {
          h2 {
            background-color: $primary-color;
          }
        }
      }

      &.Video {
        .field--name-field-tag {
          h2 {
            background-color: $secondary-color;
          }
        }
      }

      &.News {
        .field--name-field-tag {
          h2 {
            background-color: #5043ab;
          }
        }
      }
    }

    .field--name-taxonomy-term-title h2 {
      margin: 0;
      position: absolute;
      bottom: 0;
    }

    .body-wrapper {
      @include padding(15px);
    }

    .field--name-node-title {
      @include margin-top(15px);

      h2 {
        @include font-size(22px);
        font-weight: 600;
      }
    }

    .field--name-body {
      @include font-size(16px);
    }
  }

  &.node--view-mode-full {
    .field--name-field-tag {
      width: fit-content;
      @include padding(5px 10px);
      @include margin-bottom(10px);
      background-color: $secondary-color;
      color: $white;
    }

    .field--type-created {
      margin-bottom: 10px;
      display: block;
    }

    .field--name-field-link {
      @include margin-top(10px);

      a {
        display: block;
      }
    }

    #field-language-display {
      display: none;
    }
  }
}

.node--type-fact {
  &.node--view-mode-teaser {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    color: $white;
    text-align: center;

    > * {
      flex: 100%;
    }

    .field--name-field-number {
      @include font-size(60px);
      font-weight: 700;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}

.node--type-supporter {
  &.node--view-mode-teaser {
    padding: 10px;
    border-radius: 10px;

    .field--name-field-link {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include font-size(0);
      }
    }
  }
}

.taxonomy-term--type-media-tag {
  &.taxonomy-term--view-mode-text {
    .field--name-taxonomy-term-title {
      h2 {
        @include font-size(16px);
        width: fit-content;
        padding: 5px;
        background: #bf5480;
        color: $white;
      }
    }
  }
}

.node--type-innovator {
  &.node--view-mode-teaser {
    a {
      display: block;
    }

    .field--name-node-title {
      margin-top: 10px;
      h2 {
        @include font-size(22px);

        a {
          color: #bf5480;
          font-weight: 600;
          text-align: center;
        }
      }
    }

    .field--name-field-plain-text {
      @include font-size(18px);
      font-weight: 600;
      text-align: center;
      color: #bf5480;
    }

    .field--name-field-image {
      img {
        border-radius: 15px;
      }
    }
  }

  &.node--view-mode-full {
    .main-section {
      @include padding(30px);
      background-image: url(../../images/trainee-background.png);
      background-size: cover;
      border-radius: 15px;

      .layout {
        > div {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
        }
      }

      .field--name-body {
        .field__label {
          @include font-size(36px);
          font-weight: 600;
          color: $secondary-color;
          margin-bottom: 10px;
        }
      }
    }

    .block-field-blocknodeinnovatorfield-image {
      flex: 32%;
      max-width: 32%;

      .field--name-field-media-image {
        img {
          border-radius: 15px;
        }
      }
    }

    .block-field-blocknodeinnovatorbody {
      flex: 65%;
      max-width: 65%;
    }

    .block-field-blocknodeinnovatorfield-term,
    .block-field-blocknodeinnovatorfield-term-2,
    .block-field-blocknodeinnovatorfield-term-3 {
      flex: 33.33%;
      max-width: 33.33%;
      background-color: #4660ac;
      padding: 10px;
      margin-top: 20px;

      .field--name-field-term,
      .field--name-field-term-2,
      .field--name-field-term-3 {
        display: flex;

        .field__label {
          margin-right: 5px;

          &::after {
            content: ":";
          }
        }

        * {
          color: $white;
        }
      }

      &.block-field-blocknodeinnovatorfield-term {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &.block-field-blocknodeinnovatorfield-term-2 {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    .field--name-field-long-text,
    .field--name-field-long-text-2 {
      margin-top: 15px;

      .field__label {
        @include font-size(24px);
        font-weight: 600;
        color: $secondary-color;
        margin-bottom: 5px;
      }
    }

    @include media-breakpoint-down(md) {
      .block-field-blocknodeinnovatorfield-image,
      .block-field-blocknodeinnovatorbody {
        flex: 100%;
        max-width: 100%;

        &.block-field-blocknodeinnovatorbody {
          margin-top: 15px;
        }
      }

      .block-field-blocknodeinnovatorfield-term,
      .block-field-blocknodeinnovatorfield-term-2,
      .block-field-blocknodeinnovatorfield-term-3 {
        flex: 100%;
        max-width: 100%;

        &.block-field-blocknodeinnovatorfield-term {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }

        &.block-field-blocknodeinnovatorfield-term-2 {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }
    }
  }
}
