// Progress bar component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

.progress-wrapper {
  @include margin-bottom($form-group-margin-bottom);

  &:last-child .progress {
    @include margin-bottom(0.3125rem);
  }

  .message {
    font-weight: 700;
    @include margin-bottom(0.3125rem);
  }

  .progress-bar {
    min-width: 2em;
  }

}
