// Site Footer component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

.site-footer {
  padding: $spacer 0;
  .layout-container {
    padding: 0 $spacer;
  }
}

// Footer Top Styling.
.site-footer__top {
 .content {
    margin-top: 0;
  }
}

// Footer Bottom Styling.
.site-footer__bottom {

  .block {
    margin: ($spacer * .5) 0;
  }

  .content {
    padding: ($spacer * .5) 0;
    margin-top: 0;
  }
}
