// Skip link component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

.skip-link {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 50;
  background: $gray-700;
  @include font-size($font-size-base);
  @include rfs($line-height-lg, line-height);
  @include padding(0.0625rem $spacer 0.125rem);
  border-radius: 0 0 $border-radius-lg $border-radius-lg;
  border-bottom-width: 0;
  outline: 0;

  .visually-hidden.focusable:focus {
    position: absolute !important;
    color: $white;
  }
}
