// Views component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions"; // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins"; // Bootstrap mixins.
@import "../variables"; // madraj variables.
@import "../mixins"; // madraj mixins.
// -----------------------------------------------------------------------------

.views-displays {
  // Views Tabs styles.
  .tabs {
    .open > a {
      border-radius: $border-radius-lg $border-radius-lg 0 0;

      &:hover,
      &:focus {
        color: $link-color;
      }
    }

    // Tabs action list styles.
    .action-list {
      padding: 0;
    }
  }

  .secondary .form-submit {
    @include font-size($font-size-sm);
  }
}

// Contextual filter options styles.
.views-filterable-options
  .filterable-option:nth-of-type(even)
  .form-type-checkbox {
  background-color: #f9f9f9;
}

// Views action dropbutton styles.
.views-ui-display-tab-actions {
  .dropbutton {
    .form-submit {
      color: $link-hover-color;

      &:hover,
      &:focus {
        color: $link-color;
      }
    }
  }
}

.view-varbase-heroslider-media {
  &.view-id-varbase_heroslider_media {
    .view-content {
      display: block;
      margin: 0;

      .slick-dots {
        bottom: -40px;
      }
    }
  }
}

.view-id-services,
.view-id-media_content {
  .more-link {
    display: flex;
    justify-content: center;
    @include margin(15px 0);

    a {
      @include button();
      display: block;
      width: fit-content;
    }
  }

  &.view-display-id-home_page_services {
    .views-row {
      &:nth-child(1) {
        .service-vertical-teaser-wrapper {
          background-color: #edf3fc;
        }
      }

      &:nth-child(2) {
        .service-vertical-teaser-wrapper {
          background-color: #e7e7f5;
        }
      }

      &:nth-child(3) {
        .service-vertical-teaser-wrapper {
          background-color: #f8e4f1;
        }
      }
    }
  }
}

.view-id-facts {
  &.view-display-id-home_page_facts {
    .views-row {
      display: flex;
    }
  }
}

.block-views-blocksupporters-home-page-supporters {
  > h2 {
    text-align: center;
  }
}

.view-id-supporters {
  &.view-display-id-home_page_supporters {
    .view-content {
      margin-left: -30px;
      margin-right: -30px;
      justify-content: center;
    }

    .slick__slide {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include media-breakpoint-down(sm) {
      .slick__slide {
        padding-left: 75px;
        padding-right: 75px;
      }
    }

    @include media-breakpoint-down(xs) {
      .slick__slide {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}

.block-views {
  > h2 {
    margin-bottom: 15px;
  }
}

.slick--view--innovator {
  &.slick--view--innovator--home-page-innovators {
    .slick__slide {
      margin: 0 10px;
    }

    .slick-arrow {
      &.slick-prev {
        left: -50px;
      }

      &.slick-next {
        right: -50px;
      }

      &::before {
        color: $primary-color;
      }
    }
  }
}
