.ui-autocomplete {
  z-index: 1000;
  min-width: calc(2.125rem + 10.5vw);
  padding: 0.3125rem 0;
  list-style: none;
  text-align: left;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  background: #fff;
  background-clip: padding-box;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
}

@media (min-width: 1200px) {
  .ui-autocomplete {
    min-width: 10rem;
  }
}
.ui-autocomplete .ui-menu-item {
  display: block;
  clear: both;
  margin: 0;
  padding: 0.1875rem 1.25rem;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: #212529;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-weight: normal;
  line-height: 1.5;
}
.ui-autocomplete .ui-menu-item.ui-state-hover {
  color: #16181b;
  background: #e9ecef;
}
.ui-autocomplete .ui-menu-item.ui-state-active,
.ui-autocomplete .ui-menu-item.ui-state-focus {
  color: #fff;
  background: #007bff;
}
