{#
/**
 * @file
 * Page user register.
 */
#}

{% extends  "page.html.twig" %}

{# Main #}
{% block main %}
<div role="main" class="main-container {{ container }}">
  <div class="row">
    <div id="auth-box" class="login col-10 offset-1 col-lg-6 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
      <h1 id="page-user-register-title" class="sr-only">{{ title }}</h1>
      <div id="top-part">
        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}
      </div>
      <div id="middle-part">
        {{ page.header|without('madraj_local_tasks', 'madraj_breadcrumbs', 'madraj_local_actions', 'madraj_page_title') }}
        {% if (varbase.we_do_have_enabled_social_auth_modules.value) and (page.content.madraj_socialauthlogin) %}
          <h2 class="block-title"><span> {{ "Sign up with"|t }} </span></h2>
          {{ page.content.madraj_socialauthlogin }}
          <h2 class="block-title"><span> {{ "or"|t }} </span></h2>
          {{ page.content|without('madraj_socialauthlogin') }}
        {% else %}
          <h2 class="block-title"><span> {{ title }} </span></h2>
          {{ page.content }}
        {% endif %}
      </div>
      <div id="bottom-part">
      {% if not logged_in %}
        <div class="login-link">
          <a href="{{ path('user.login') }}"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> {{ 'Login'|t }}</a>
        </div>
      {% endif %}
        <div class="back-link">
          <a href="{{ url('<front>') }}"><i class="fas fa-home" aria-hidden="true"></i> {{ 'Back to'|t }}  {{ site_name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
