{#
/**
 * @file
 * Page user password.
 */
#}

{% extends  "page.html.twig" %}

{# Main #}
{% block main %}
<div role="main" class="main-container {{ container }}">
  <div class="row">
    <div id="auth-box" class="login col-10 offset-1 col-sm-4 offset-sm-4">
      <h1 id="page-user-password-title" class="sr-only">{{ title }}</h1>
      <div id="top-part">
        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}
      </div>
      <div id="middle-part">
        {% if logged_in %}
          {{ page.header|without('madraj_local_tasks', 'madraj_breadcrumbs', 'madraj_local_actions') }}
        {% else %}
          <h2 class="title">{{ title }}</h2>
          {{ page.header|without('madraj_local_tasks', 'madraj_breadcrumbs', 'madraj_local_actions', 'madraj_page_title') }}
        {% endif %}
        {{ page.content }}
      </div>
      <div id="bottom-part">
      {% if not logged_in %}
        <div class="login-link">
          <a href="{{ path('user.login') }}"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> {{ 'Login'|t }}</a>
        </div>
      {% endif %}
      {% if not logged_in and not user_settings_register_admin_only %}
        <div class="register-link">
          <a href="{{ path('user.register') }}"><i class="fas fa-user" aria-hidden="true"></i> {{ 'Register a new account'|t }}</a>
        </div>
      {% endif %}
        <div class="back-link">
          <a href="{{ url('<front>') }}"><i class="fas fa-home" aria-hidden="true"></i> {{ 'Back to'|t }}  {{ site_name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
