@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
/* Insert your Bootstrap (RTL) overrides for bootstrap-rtl library. */
/* Justify content center. */
[dir=rtl] .justify-content-center.nav-pills > li + li {
  margin-left: inherit;
}

body {
  font-family: "Droid Arabic Kufi", sans-serif;
}
