body.install-page {
  object-fit: cover;
  background-color: initial !important;
  background-image: url("../images/varbase-bg.jpg");
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position-x: center !important;
  background-position-y: center !important;
  background-clip: initial !important;
  background-origin: initial !important;
  background-size: cover !important;
}
body.install-page .other-lang-warn {
  display: none;
}
body.install-page .other-lang-warn .visible {
  display: block;
}
body.install-page .logo a {
  background-color: transparent;
  background-image: url("../images/vardot-white-logo.png");
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position-x: 0;
  background-position-y: 0;
  background-clip: initial;
  background-origin: initial;
  background-size: 100%;
}
body.install-page .site-version {
  padding-left: 10px;
  vertical-align: initial !important;
  color: #4192c8;
  font-size: 0.6em;
  font-weight: bold;
}

@media screen and (min-width: 38em) {
  .layout-sidebar-first {
    float: left;
    width: 35%;
  }
  [dir=rtl] .layout-sidebar-first {
    float: right;
  }
  main {
    float: right;
    width: 60%;
  }
  [dir=rtl] main {
    float: left;
  }
}
footer.installer-footer {
  width: 75%;
  max-width: 770px;
  margin: 0 auto;
  color: white;
  border-radius: 5px;
}
footer.installer-footer #credit {
  float: right;
  padding: 20px 0 40px;
  font-size: 11px;
}
footer.installer-footer #credit a {
  float: right;
  clear: right;
  overflow: hidden;
  width: 125px;
  height: 0;
  padding: 50px 0 0;
}

[dir=rtl] footer.installer-footer #credit {
  float: left;
  padding: 20px 0 40px;
  text-align: left;
  font-size: 11px;
}

.installer-logo {
  width: 222px;
}

@media (min-width: 48em) {
  .page-title {
    margin-left: 1.3em !important;
  }
  .task-list li {
    padding: 0.5em 1em 0.5em 2em;
  }
}

@media screen and (min-width: 38em) {
  .toolbar-tray-open:not(.toolbar-vertical) .layout-container,
  body:not(.toolbar-tray-open) .layout-container {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
