.block-content--type-text-and-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 25px;
  background-color: #fff;
}
.block-content--type-text-and-icon .field--name-field-icon img {
  width: 125px;
  height: 130px;
}
.block-content--type-text-and-icon .field--name-body p {
  text-align: center;
}
