@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
/* Insert your madraj footer custom SASS styling. */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  background-image: url("../../images/footer-background.png");
  background-size: cover;
}
.footer-wrapper .footer {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}
.footer-wrapper .footer section.region-footer {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 992px) {
  .footer-wrapper .footer section.region-footer {
    flex-flow: row;
  }
}
.footer-wrapper .footer section.region-footer div[id$=-copyright] {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1rem 1rem 0 1rem;
  font-size: 0.75rem;
}
.footer-wrapper .footer section.region-footer .menu--footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 0.75rem;
}
.footer-wrapper .footer section.region-footer .menu--footer ul.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-wrapper .footer section.region-footer .menu--footer ul.nav li {
  padding: 0 1rem;
}
@media (max-width: 991.98px) {
  .footer-wrapper .footer {
    flex: 100%;
  }
  .footer-wrapper .footer > .row {
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  .footer-wrapper .footer * {
    text-align: center;
  }
}
.footer-wrapper a {
  color: #fff;
  font-size: 18px;
}
.footer-wrapper .menu--social-media-menu {
  margin-left: 100px;
}
.footer-wrapper .menu--social-media-menu ul {
  display: flex;
  flex-direction: column;
}
.footer-wrapper .menu--social-media-menu .fab {
  font-family: "cairo-regular";
}
.footer-wrapper .menu--social-media-menu .fab::before {
  margin-right: 10px;
  font-family: "Font Awesome 5 Brands";
}
@media (max-width: 991.98px) {
  .footer-wrapper .menu--social-media-menu {
    margin-top: 20px;
    margin-left: 0;
  }
}
.footer-wrapper > .container > .row {
  justify-content: space-between;
}
.footer-wrapper .footer-logo {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991.98px) {
  .footer-wrapper .footer-logo {
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .footer-wrapper .footer-logo {
    flex: 100%;
    align-items: center;
    text-align: center;
  }
}
.footer-wrapper .support-us-button {
  margin-top: 15px;
  padding: 5px 30px;
  transition: 0.2s;
  text-align: center;
  color: #fff;
  border: 1px solid #bf5480;
  border-radius: 25px;
  background-color: #bf5480;
  font-size: 1.25rem;
  font-weight: 500;
}
.footer-wrapper .support-us-button a {
  color: #fff;
}
.footer-wrapper .support-us-button:hover,
.footer-wrapper .support-us-button:active {
  color: #bf5480;
  border: 1px solid #bf5480;
  background-color: transparent;
}
.footer-wrapper .support-us-button:hover a,
.footer-wrapper .support-us-button:active a {
  color: #bf5480;
}
.footer-wrapper .support-us-button:focus {
  box-shadow: none;
}
.footer-wrapper .support-us-button i {
  margin-right: 6px;
}

.last-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.last-footer .powered-by {
  display: flex;
  align-items: center;
  justify-content: center;
}
.last-footer .terms-and-conditions a {
  color: #000;
  font-size: 0.875rem;
}
@media (max-width: 991.98px) {
  .last-footer {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .last-footer .terms-and-conditions {
    margin-top: 10px;
  }
}
