@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
/* Insert your madraj header custom SASS styling. */
header.navbar {
  background-color: #fff !important;
}
header .navbar-brand {
  margin-right: 0;
}
header .navbar-brand img {
  width: 180px;
}
@media (max-width: 767.98px) {
  header .menu--main {
    flex: 100%;
  }
  header .menu--main a {
    color: #fff;
  }
}
@media (max-width: 991.98px) {
  header .menu--main li {
    text-align: center;
  }
}
header.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.8);
}
header.navbar-light .navbar-nav .nav-link.apply-now {
  padding: 5px 30px;
  transition: 0.2s;
  color: #fff;
  border: 1px solid #82b4da;
  border-radius: 25px;
  background-color: #82b4da;
  font-size: 1.25rem;
  font-weight: 500;
}
header.navbar-light .navbar-nav .nav-link.apply-now a {
  color: #fff;
}
header.navbar-light .navbar-nav .nav-link.apply-now:hover,
header.navbar-light .navbar-nav .nav-link.apply-now:active {
  color: #82b4da;
  border: 1px solid #82b4da;
  background-color: transparent;
}
header.navbar-light .navbar-nav .nav-link.apply-now:hover a,
header.navbar-light .navbar-nav .nav-link.apply-now:active a {
  color: #82b4da;
}
header.navbar-light .navbar-nav .nav-link.apply-now:focus {
  box-shadow: none;
}
header.navbar-light .navbar-nav .nav-link.apply-now i {
  margin-right: 6px;
}
header.navbar-light .navbar-nav .nav-link::after {
  display: block;
  width: 0;
  height: 2px;
  content: "";
  transition: width 0.3s;
  background: #82b4da;
}
header.navbar-light .navbar-nav .nav-link:hover::after {
  width: 100%;
}
header.navbar-light .navbar-nav .nav-item.active::after {
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  transition: width 0.3s;
  background: #82b4da;
}
