@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
/* Insert your madraj maintenance page custom SASS styling. */
.maintenance-page footer .footer-credits {
  font-size: 0.75rem;
}

h2.extra-large {
  font-size: 45px !important;
}
h2.medium {
  font-size: 30px !important;
}
