@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.varbase-heroslider-media {
  position: relative;
  overflow: hidden;
}
.varbase-heroslider-media .slick-slide .slide__caption {
  position: absolute;
  top: auto;
  bottom: 20%;
  left: 0;
  transition: transform 0s cubic-bezier(0.19, 1, 0.22, 1) 1.25s, opacity 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transform: scale(0.95);
  opacity: 0;
  filter: alpha(opacity=0);
}
.varbase-heroslider-media .slick-slide .img-responsive {
  transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transform: scale(1.15);
}
.varbase-heroslider-media .slick-slide .unpublished {
  height: auto;
  padding: 0;
}
.varbase-heroslider-media .slick-active .slide__caption {
  transition: transform 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0.5s, opacity 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}
.varbase-heroslider-media .slick-active .img-responsive {
  transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transform: scale(1);
}
.varbase-heroslider-media .slide__caption .slide__title a {
  color: #fff;
}
.varbase-heroslider-media .slide__caption .slick__text {
  color: #fff;
}
.varbase-heroslider-media .slick__arrow {
  top: 300px;
  transform: translateY(-150px);
}
.varbase-heroslider-media .slick__arrow .slick-arrow::before {
  color: #82b4da;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .varbase-heroslider-media .slick__arrow {
    top: 600px;
    transform: translateY(-300px);
  }
}
.varbase-heroslider-media .slick-prev {
  right: auto;
  left: 0.63rem;
}
.varbase-heroslider-media .slick-next {
  right: 0.63rem;
  left: auto;
}
.varbase-heroslider-media .slide__link {
  margin: 0.63rem auto;
}
.varbase-heroslider-media .slide__link a {
  color: #fff;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
@media (max-width: 990px) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media {
    flex-direction: column-reverse;
  }
  .varbase-heroslider-media .node--type-varbase-heroslider-media .group-left,
  .varbase-heroslider-media .node--type-varbase-heroslider-media .group-right {
    width: 100%;
  }
  .varbase-heroslider-media .node--type-varbase-heroslider-media .group-left {
    margin-top: 20px;
    padding: 0 30px;
  }
}
@media (max-width: 570px) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media .group-left {
    padding: 0 20px;
  }
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content-wrapper {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content {
  padding: 60px 0;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-node-title h2 {
  color: #fff;
  font-weight: 600;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-node-title h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: calc(1.455rem + 2.46vw);
}
@media (min-width: 1200px) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-node-title h3 {
    font-size: 3.3rem;
  }
}
@media screen and (min-width: 576px) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-node-title h3 {
    font-size: calc(1.455rem + 2.46vw);
  }
}
@media screen and (min-width: 576px) and (min-width: 1200px) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-node-title h3 {
    font-size: 3.3rem;
  }
}
@media screen and (min-width: 768px) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-node-title h3 {
    font-size: calc(1.48125rem + 2.775vw);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-node-title h3 {
    font-size: 3.5625rem;
  }
}
@media screen and (min-width: 992px) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-node-title h3 {
    font-size: calc(1.48125rem + 2.775vw);
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-node-title h3 {
    font-size: 3.5625rem;
  }
}
@media screen and (min-width: 1200px) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-node-title h3 {
    font-size: calc(1.48125rem + 2.775vw);
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-node-title h3 {
    font-size: 3.5625rem;
  }
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-field-brief {
  margin-top: 1rem;
  color: #fff;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-field-link {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-field-link a {
  display: block;
  padding: 5px 30px;
  transition: 0.2s;
  color: #fff;
  border: 1px solid #82b4da;
  border-radius: 25px;
  background-color: #82b4da;
  font-size: 1.25rem;
  font-weight: 500;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-field-link a a {
  color: #fff;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-field-link a:hover,
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-field-link a:active {
  color: #82b4da;
  border: 1px solid #82b4da;
  background-color: transparent;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-field-link a:hover a,
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-field-link a:active a {
  color: #82b4da;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-field-link a:focus {
  box-shadow: none;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content .field--name-field-link a i {
  margin-right: 6px;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single {
  overflow: hidden;
  min-height: 300px;
  max-height: 300px;
  /* 1. No object-fit support: */
  /* 2. If supporting object-fit, overriding (1): */
}
@media screen and (min-width: 768px) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single {
    min-height: 600px;
    max-height: 600px;
  }
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .contextual-region {
  position: unset;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .varbase-video-player.embed-responsive {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 130vh;
  padding-bottom: 0;
  transform: translateY(-50%) translateX(-50%);
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single img {
  top: 0;
  left: 0;
  width: 100%;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .media img {
  top: 0;
  left: 0;
  width: 100%;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .media video {
  top: 0;
  left: 0;
  width: 100%;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .media iframe {
  top: 0;
  left: 0;
  width: 100%;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .media::before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-aspect-ratio: 16/9) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .varbase-video-player.embed-responsive {
    position: relative;
    top: 50%;
    left: 50%;
    width: 240vw;
    height: 140vh;
    padding-bottom: 0 !important;
    transform: translateY(-50%) translateX(-50%);
  }
}
@supports (object-fit: cover) {
  .varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .media {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .media img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .media video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .media iframe {
    position: absolute;
    left: 0;
    object-fit: cover;
  }
}
@media screen and (min-width: 768px) {
  @supports (object-fit: cover) {
    .varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single img {
      position: unset;
    }
    .varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .media img {
      position: unset;
    }
  }
}

@media (max-aspect-ratio: 16/9) {
  [dir=rtl] .varbase-heroslider-media .node--type-varbase-heroslider-media .field--name-field-media-single .varbase-video-player.embed-responsive {
    right: 0;
    left: 0;
    transform: translateY(-50%) translateX(0);
  }
}
[dir=rtl] .varbase-heroslider-media .slick-prev {
  right: 0.63rem;
  left: auto;
}
[dir=rtl] .varbase-heroslider-media .slick-next {
  right: auto;
  left: 0.63rem;
}
