@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
/* Insert your madraj content (RTL) custom SASS styling. */
.view-id-services.view-display-id-home_page_services .more-link,
.view-id-services.view-display-id-home_page_media .more-link,
.view-id-media_content.view-display-id-home_page_services .more-link,
.view-id-media_content.view-display-id-home_page_media .more-link {
  position: absolute;
  top: -35px;
  right: unset;
  left: 0;
}
.view-id-services.view-display-id-home_page_services .more-link a,
.view-id-services.view-display-id-home_page_media .more-link a,
.view-id-media_content.view-display-id-home_page_services .more-link a,
.view-id-media_content.view-display-id-home_page_media .more-link a {
  color: #f0a;
}
