// Vartheme Edge to Edge layout for content.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

.bg-edge2edge {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  flex: 0 0 100vw;
  max-width: none;

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

body {
  overflow-x: hidden;
}
