// #############################################################################
// Barrio custom variables.
// #############################################################################
// All needed custom variables for Bootstrap Barrio theme.
// You can change them in madraj in the barrio-variables.sass
//

// Colors
$primary-shade: #A8CF45;
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: #0079C0;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);

// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;

// Madraj variables
$primary-color: #82b4da;
$secondary-color: #bf5480;
$white: #fff;

// Cairo font
@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}

@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}

@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
