// madraj Mixings.
// -----------------------------------------------------------------------------
@import "mixins/rfs"; // RFS mixin.
// Issue #3171962: Update RFS from ~8.0 to ~9.0 for Vartheme BS4
// https://www.drupal.org/project/vartheme_bs4/issues/3171962
// -----------------------------------------------------------------------------
// Issue #3157982: Fix RFS SCSS library located in
// Bootstrap 4.5.0 vendor which causing code standard notice for every
// font-size use in Vartheme BS4 and generated Sub-theme
// https://www.drupal.org/project/vartheme_bs4/issues/3157982
// -----------------------------------------------------------------------------
// Temp solution for this issue
// Fix spaces before semicolon at set the calculated font-size part #154 #155
// https://github.com/twbs/rfs/pull/155
// It was fixed, committed in RFS 9.0.0
// But latest Bootstrap 4.5 release still uses the RFS 8.x
// -----------------------------------------------------------------------------

@mixin button(
  $reverse: false,
  $color: $white,
  $background-color: $primary-color,
  $hover-color: $primary-color,
  $hover-background-color: transparent
) {
  padding: 5px 30px;
  transition: 0.2s;
  @include font-size(20px);
  font-weight: 500;
  border-radius: 25px;
  @if $reverse {
    color: $hover-color;
    a {
      color: $hover-color;
    }
    background-color: $hover-background-color;
    border: 1px solid $hover-color;

    &:hover,
    &:active {
      color: $color;
      a {
        color: $color;
      }
      background-color: $background-color;
      border: 1px solid $color;
    }
  } @else {
    color: $color;
    a {
      color: $color;
    }
    background-color: $background-color;
    border: 1px solid $background-color;

    &:hover,
    &:active {
      color: $hover-color;
      a {
        color: $hover-color;
      }
      background-color: $hover-background-color;
      border: 1px solid $hover-color;
    }
  }

  &:focus {
    box-shadow: none;
  }


  i {
    margin-right: 6px;
  }
}
