// madraj styles for the social auth login form.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

.social-auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .social-network {
    width: 44%;
    cursor: pointer;
    border-width: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 2px;
    transition: box-shadow 0.2s ease 0s, color;
    margin: 8px;
    padding: 12px 24px 12px 12px;
    box-shadow: 0px 1px 4px rgba(26, 25, 43, .24) !important;
  }

  .auth-link {
    font-size: 15px;
    line-height: 20px;
    color: #4A495E;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 600;

    &:hover,
    &:active,
    &:focus {
      color:#145CC6;
    }
  }

  .auth-icon {
    margin-right: 16px;
    width: 16px;
    height: 16px;
  }
}
