// madraj Better Login styling.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------


#auth-box {
  @include padding($navbar-brand-height 0 0);

  #the-logo {
    text-align: center;
    margin: 0;
    @include padding(0 0 1.75rem);
  }

  .title {
    margin: 0;
    @include padding(0 0 0.9375rem);
    @include font-size(2rem);
  }

  #middle-part {
    border-radius: 3px;
    background: $body-bg;
    @include padding(0.9375rem);
    overflow: hidden;
    box-shadow: $box-shadow;
  }

  .back-link {
    @include padding(1rem 0 0);
  }

  #bottom-part {
    @include font-size(0.75rem);
    @include padding(1rem 0 0);
    text-align: center;
  }

  .user-form {
    .form-control {
      max-width: 100%;
    }
  }

  .block-title {
    text-align: center;
    background: #eee;
    height: 1px;
    @include margin(2rem 0);

    span {
      text-transform: uppercase;
      @include font-size(1rem);
      @include padding(0 0.75rem);
      background: #fff;
      position: relative;
      @include rfs(-1.5rem, top);
    }
  }

  .user-login-form {
    text-align: left;

    .form-checkbox {
      @include margin-top(0.5rem);
    }

    .option {
      @include font-size($font-size-base);
    }
  }

  .form-actions {
    text-align: center;
  }

  .block-social-auth-login {
    text-align: center;
  }
}

[dir=rtl] #auth-box {
  .user-login-form {
    text-align: right;

    .option {
      padding-right: 0;
    }
  }
}