.block-content--type-text-and-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 50px;
  border-radius: 25px;

  .field--name-field-icon {
    img {
      width: 125px;
      height: 130px;
    }
  }

  .field--name-body {
    p {
      text-align: center;
    }
  }
}
