// madraj footer styling.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions"; // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins"; // Bootstrap mixins.
@import "../variables"; // madraj variables.
@import "../mixins"; // madraj mixins.
// -----------------------------------------------------------------------------

/* Insert your madraj footer custom SASS styling. */

.footer-wrapper {
  padding: 50px 0;
  background-image: url("../../images/footer-background.png");
  background-size: cover;
  display: flex;
  justify-content: space-between;

  .footer {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;

    section.region-footer {
      display: flex;
      flex-flow: column;

      @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        flex-flow: row;
      }

      div[id$="-copyright"] {
        flex-flow: column;
        display: flex;
        justify-content: center;
        @include padding($spacer $spacer 0 $spacer);
        @include font-size(0.75rem);
      }

      .menu--footer {
        @include font-size(0.75rem);
        display: flex;
        flex-flow: column;
        justify-content: center;

        ul.nav {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;

          li {
            @include padding(0 $spacer);
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      flex: 100%;

      > .row {
        margin: 0;
      }
    }

    @include media-breakpoint-down(sm) {
      * {
        text-align: center;
      }
    }
  }

  a {
    color: #fff;
    font-size: 18px;
  }

  .menu--social-media-menu {
    margin-left: 100px;

    ul {
      display: flex;
      flex-direction: column;
    }

    .fab {
      font-family: "cairo-regular";

      &::before {
        margin-right: 10px;
        font-family: "Font Awesome 5 Brands";
      }
    }

    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  > .container {
    > .row {
      justify-content: space-between;
    }
  }

  .footer-logo {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
      flex: 100%;
      text-align: center;
      align-items: center;
    }
  }

  .support-us-button {
    @include button(
      false,
      $white,
      $background-color: $secondary-color,
      $hover-color: $secondary-color
    );
    text-align: center;
    margin-top: 15px;
  }
}

.last-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .powered-by {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .terms-and-conditions {
    a {
      color: $black;
      @include font-size(14px);
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
    justify-content: center;

    .terms-and-conditions {
      margin-top: 10px;
    }
  }
}
