// madraj header styling.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions"; // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins"; // Bootstrap mixins.
@import "../variables"; // madraj variables.
@import "../mixins"; // madraj mixins.
// -----------------------------------------------------------------------------

/* Insert your madraj header custom SASS styling. */

header {
  &.navbar {
    background-color: #fff !important;
  }

  .navbar-brand {
    margin-right: 0;

    img {
      width: 180px;
    }
  }

  .menu--main {
    @include media-breakpoint-down(sm) {
      flex: 100%;

      a {
        color: #fff;
      }
    }

    @include media-breakpoint-down(md) {
      li {
        text-align: center;
      }
    }
  }

  &.navbar-light {
    .navbar-nav {
      .nav-link {
        color: rgba(0, 0, 0, 0.8);

        &.apply-now {
          @include button();
        }

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: $primary-color;
          transition: width 0.3s;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }

      .nav-item {
        &.active {
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: $primary-color;
            transition: width 0.3s;
          }
        }
      }
    }
  }
}
