// madraj Maintenance page custom style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // madraj variables.
@import "../mixins";                      // madraj mixins.
// -----------------------------------------------------------------------------

/* Insert your madraj maintenance page custom SASS styling. */

.maintenance-page {
  footer {
    .footer-credits {
      @include font-size(0.75rem);
    }
  }
}

h2 {
  &.extra-large {
    font-size: 45px !important;
  }

  &.medium {
    font-size: 30px !important;
  }
}
