@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.bg-edge2edge {
  position: relative;
  right: 50%;
  left: 50%;
  flex: 0 0 100vw;
  width: 100vw;
  max-width: none;
  margin-right: -50vw !important;
  margin-left: -50vw !important;
}
.bg-edge2edge:before {
  display: table;
  content: " ";
}
.bg-edge2edge:after {
  clear: both;
}

body {
  overflow-x: hidden;
}
