@font-face {
  font-family: "cairo-light";
  src: url(../../fonts/cairo/Cairo-Light.ttf);
}
@font-face {
  font-family: "cairo-regular";
  src: url(../../fonts/cairo/Cairo-Regular.ttf);
}
@font-face {
  font-family: "cairo-bold";
  src: url(../../fonts/cairo/Cairo-Bold.ttf);
}
.equal-height .row {
  display: flex;
  flex-wrap: wrap;
}
.equal-height .row > div[class*=col-] {
  display: flex;
  flex-direction: column;
}
.equal-height .row > div[class*=col-] article.node {
  height: 100%;
}
.equal-height .row > div[class*=col-] article.node div.main-content {
  height: 100%;
}
.equal-height .row > div[class*=col-] article.node div.main-content div.card {
  height: 100%;
}

@media (min-width: 576px) {
  .equal-height-sm .row {
    display: flex;
    flex-wrap: wrap;
  }
  .equal-height-sm .row > div[class*=col-] {
    display: flex;
    flex-direction: column;
  }
  .equal-height-sm .row > div[class*=col-] article.node {
    height: 100%;
  }
  .equal-height-sm .row > div[class*=col-] article.node div.main-content {
    height: 100%;
  }
  .equal-height-sm .row > div[class*=col-] article.node div.main-content div.card {
    height: 100%;
  }
}
@media (min-width: 768px) {
  .equal-height-md .row {
    display: flex;
    flex-wrap: wrap;
  }
  .equal-height-md .row > div[class*=col-] {
    display: flex;
    flex-direction: column;
  }
  .equal-height-md .row > div[class*=col-] article.node {
    height: 100%;
  }
  .equal-height-md .row > div[class*=col-] article.node div.main-content {
    height: 100%;
  }
  .equal-height-md .row > div[class*=col-] article.node div.main-content div.card {
    height: 100%;
  }
}
@media (min-width: 992px) {
  .equal-height-lg .row {
    display: flex;
    flex-wrap: wrap;
  }
  .equal-height-lg .row > div[class*=col-] {
    display: flex;
    flex-direction: column;
  }
  .equal-height-lg .row > div[class*=col-] article.node {
    height: 100%;
  }
  .equal-height-lg .row > div[class*=col-] article.node div.main-content {
    height: 100%;
  }
  .equal-height-lg .row > div[class*=col-] article.node div.main-content div.card {
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .equal-height-xl .row {
    display: flex;
    flex-wrap: wrap;
  }
  .equal-height-xl .row > div[class*=col-] {
    display: flex;
    flex-direction: column;
  }
  .equal-height-xl .row > div[class*=col-] article.node {
    height: 100%;
  }
  .equal-height-xl .row > div[class*=col-] article.node div.main-content {
    height: 100%;
  }
  .equal-height-xl .row > div[class*=col-] article.node div.main-content div.card {
    height: 100%;
  }
}
